<template>
    <div>

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_head-section clearfix">
                                <div class="vd_panel-header">
                                    <ul class="breadcrumb">
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="pages-custom-product.html">Pages</a>
                                        </li>
                                        <li class="active">Our Services</li>
                                    </ul>
                                    <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code."
                                        data-step=5 data-position="left">
                                        <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom"
                                            class="remove-navbar-button menu">
                                            <i class="fa fa-arrows-h"></i>
                                        </div>
                                        <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom"
                                            class="remove-header-button menu">
                                            <i class="fa fa-arrows-v"></i>
                                        </div>
                                        <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom"
                                            class="fullscreen-button menu">
                                            <i class="glyphicon glyphicon-fullscreen"></i>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header">
                                    <h1>
                                        <i class="append-icon glyphicon glyphicon-tags"></i> Add Countrys</h1>
                                </div>
                            </div>
                            <div class="vd_content-section clearfix">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mgbt-xs-10">
                                            <button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addCounty">
                                                <span class="append-icon">
                                                    <i class="fa fa-plus-circle fa-fw"></i>
                                                </span>Add County</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mgbt-xs-10">
                                            <button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addDescrit">
                                                <span class="append-icon">
                                                    <i class="fa fa-plus-circle fa-fw"></i>
                                                </span>Add Descrit</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mgbt-xs-10">
                                            <button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addCitys">
                                                <span class="append-icon">
                                                    <i class="fa fa-plus-circle fa-fw"></i>
                                                </span>Add Citys</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel widget">
                                            <div class="panel-body table-responsive">
                                                <table class="table table-hover center">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Country</th>
                                                            <th>Discrit</th>
                                                            <th>Citys</th>
                                                            <th>Options</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Beauty</td>
                                                            <td>
                                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#Descrit">5</a>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#Citys">10</a>
                                                            </td>
                                                            <td class="menu-action">
                                                                <a class="btn menu-icon vd_bd-blue vd_blue" data-toggle="modal" data-target="#addCounty">
                                                                    <i class="fa fa-plus" data-toggle="tooltip" data-original-title="add new" data-placement="top"></i>
                                                                </a>
                                                                <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                <a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td>2</td>
                                                            <td>Internet</td>
                                                            <td>
                                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#Descrit">10</a>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:void(0);" data-toggle="modal" data-target="#Citys">20</a>
                                                            </td>
                                                            <td class="menu-action">
                                                                <a class="btn menu-icon vd_bd-blue vd_blue" data-toggle="modal" data-target="#addCounty">
                                                                    <i class="fa fa-plus" data-toggle="tooltip" data-original-title="add new" data-placement="top"></i>
                                                                </a>
                                                                <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                <a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->
 <!-- MODALS start -->


    <!-- SUBCATEGORIES -->
    <div class="modal fade" id="Descrit" tabindex="-1" role="dialog" aria-labelledby="All subcategories" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header vd_bg-green">
                    <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title vd_white" id="myModalLabel">Descrit</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descrit Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fashion</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Salon</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Salon</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer vd_bg-white">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSubcategory">
                        <i class="fa fa-plus-circle"></i> Add New</button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- KEYWORDS -->
    <div class="modal fade" id="Citys" tabindex="-1" role="dialog" aria-labelledby="All services" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header vd_bg-green">
                    <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title vd_white" id="myModalLabel">Citys</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Citys</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fashion</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Salon</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Salon</td>
                                <td class="menu-action">
                                    <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-original-title="remove" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer vd_bg-white">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addService">
                        <i class="fa fa-plus-circle"></i> Add New</button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ADD MAINCATEGORY -->
    <div class="modal fade" id="addCounty" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header vd_bg-green">
                    <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title vd_white">ADD County</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="entry form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Put the name here">
                                <span class="input-group-addon add-more">+</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer vd_bg-white">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ADD SUBCATEGORY -->
    <div class="modal fade" id="addDescrit" tabindex="-1" role="dialog" aria-labelledby="Add subcategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header vd_bg-green">
                    <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title vd_white">ADD Discrit</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <select class="custom-select">
                                <option selected>Select County</option>
                                <option value="1">Beauty</option>
                                <option value="2">Internet</option>
                            </select>
                        </div>
                        <div class="entry form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Put the name here">
                                <span class="input-group-addon add-more">+</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer vd_bg-white">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ADD KEYWORD -->
    <div class="modal fade" id="addCitys" tabindex="-1" role="dialog" aria-labelledby="Add service" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header vd_bg-green">
                    <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title vd_white">ADD Citys</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <select class="custom-select">
                                <option selected>Select County</option>
                                <option value="1">Beauty</option>
                                <option value="2">Internet</option>
                            </select>
                        </div>
                        <div class="entry form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Put the name here">
                                <span class="input-group-addon add-more">+</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer vd_bg-white">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALS end -->

    </div>
</template>
