<template>
    <div>
        <!-- Middle Content Start -->

    <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">
          <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a> </li>
                <li><a href="pages-custom-product.html">Pages</a> </li>
                <li class="active">Bids Amount Client</li>
              </ul>
              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
      <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
      <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

            </div>
          </div>
          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1><span class="append-icon icon-database"></span> Bids Amount Client</h1>
            </div>
          </div>
        <div class="vd_content-section clearfix">
			
			<div class="row mrgn15-0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
						<button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addBid"><span class="append-icon"><i class="fa fa-plus-square"></i></span>Add New Bid</button>
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<table class="discountTable table">
						<colgroup>
							<col width="10%">
							<col width="30%">
							<col width="30%">
							<col width="30%">
						</colgroup>
						<thead>
							<tr>
								<th>No.</th>
								<th>Bids amount</th>
								<th>Price</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>12</td> 
								<td>2.550 €</td> 
								<td class="menu-action">
									<div class="pdng5">
										<a data-toggle="modal" data-target="#editBid" class="btn menu-icon vd_bd-yellow vd_yellow"><i class="fa fa-pencil" data-original-title="Edit" data-toggle="tooltip" data-placement="top" ></i></a>
										<a data-toggle="modal" data-target="#removeBid" class="btn menu-icon vd_bd-red vd_red"><i class="fa fa-trash-o" data-original-title="Remove" data-toggle="tooltip" data-placement="top" ></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- col-md-12 end --> 
			</div><!-- row end --> 	
							
          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
    <!-- .vd_content-wrapper -->

    <!-- Middle Content End -->
    	
<!-- MODALS start -->

<!-- ADD NEW BID -->
<div class="modal fade" id="addBid" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">ADD NEW BID</h4>
      </div>
      <div class="modal-body">
        <form method="post">			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Bids amount</label>
				<div class="col-sm-7 controls">
					<input placeholder="Bids amount" type="text">
				</div>
			</div>			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Price</label>
				<div class="col-sm-7 controls">
					<input placeholder="Price" type="text">
				</div>
			</div>
		  <button type="submit" class="btn btn-primary">ADD</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT the BID -->
<div class="modal fade" id="editBid" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">EDIT THE BID</h4>
      </div>
      <div class="modal-body">
        <form method="post">			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Bids amount</label>
				<div class="col-sm-7 controls">
					<input placeholder="Bids amount" type="text" value="12">
				</div>
			</div>			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Price</label>
				<div class="col-sm-7 controls">
					<input placeholder="Price" type="text" value="2.550">
				</div>
			</div>
		  <button type="submit" class="btn btn-primary">SAVE</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- REMOVE the BID -->
<div class="modal fade" id="removeBid" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-red">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">REMOVE THE BID</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <button type="submit" class="btn btn-primary">CONFIRM</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    </div>
</template>
