<template>
    <div>
        <!-- Middle Content Start -->

    <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">
          <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a> </li>
                <li><a href="pages-custom-product.html">Pages</a> </li>
                <li class="active">Company Type</li>
              </ul>
              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
      <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
      <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

            </div>
          </div>
          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1><i class="append-icon fa fa-fw fa-phone"></i> Call Center</h1>
            </div>
          </div>
        <div class="vd_content-section clearfix">
			
			<div class="row mrgn15-0">
				<div class="col-md-4"></div>
				<div class="col-md-4">
						<button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addCompany"><span class="append-icon"><i class="fa fa-plus-square"></i></span>Add New Call Center</button>
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<table class="discountTable table">
						<colgroup>
							<col width="10%">
							<col width="30%">
							<col width="25%">
							<col width="25%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th>No.</th>
								<th>Company Name</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Lorem Company</td> 
								<td>999-999-999</td> 
								<td>lorem@email.com</td> 
								<td class="menu-action">
									<div class="pdng5">
										<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editText"><i class="fa fa-pencil" data-original-title="edit" data-toggle="tooltip" data-placement="top"></i></a>
														<a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removeText"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
									</div>
								</td>
							</tr>							
							<tr>
								<td>2</td>
								<td>Lorem Company</td> 
								<td>999-999-999</td> 
								<td>lorem@email.com</td> 
								<td class="menu-action">
									<div class="pdng5">
										<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editText"><i class="fa fa-pencil" data-original-title="edit" data-toggle="tooltip" data-placement="top"></i></a>
														<a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removeText"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
									</div>
								</td>
							</tr>							
							<tr>
								<td>3</td>
								<td>Lorem Company</td> 
								<td>999-999-999</td> 
								<td>lorem@email.com</td> 
								<td class="menu-action">
									<div class="pdng5">
										<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editText"><i class="fa fa-pencil" data-original-title="edit" data-toggle="tooltip" data-placement="top"></i></a>
														<a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removeText"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
									</div>
								</td>
							</tr>							
							<tr>
								<td>4</td>
								<td>Lorem Company</td> 
								<td>999-999-999</td> 
								<td>lorem@email.com</td> 
								<td class="menu-action">
									<div class="pdng5">
										<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editText"><i class="fa fa-pencil" data-original-title="edit" data-toggle="tooltip" data-placement="top"></i></a>
														<a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removeText"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div><!-- col-md-12 end --> 
			</div><!-- row end --> 	
							
          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
    <!-- .vd_content-wrapper -->

    <!-- Middle Content End -->

<!-- MODALS start -->

<!-- ADD COMPANY NAME -->
<div class="modal fade" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">ADD COMPANY NAME</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <input type="text" placeholder="Enter Company Name">
		  </div>
		  <div class="form-group">
		  	<label>Name</label>
		    <input style="margin-top: 10px" type="text" placeholder="First Name">
		    <input style="margin-top: 10px" type="text" placeholder="Last Name">
		  </div>
		  <div class="form-group">
		  	<label for="phone">Phone</label>
		    <input id="phone" type="text" placeholder="Phone Number">
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlInput1">Email address</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		  </div>
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" placeholder="Username">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="text" class="form-control" id="password" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-primary">ADD</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<!-- EDIT TEXT -->
<!-- <div class="modal right fade" id="editText" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true" style="z-index: 1049;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green text-center">
        <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">
          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>
        </button>
        <h4 class="modal-title vd_white">EDIT TEXT</h4>
      </div>
      <div class="modal-body h100">
        <form method="post">			
			<div class="form-group clearfix">
				<label class="col-sm-2 control-label text-right">Title</label>
				<div class="col-sm-10 controls">
					<input placeholder="Title" type="text" value="Text Title for some block">
					<span class="help-inline"></span>
				</div>
			</div>			
			<div class="form-group clearfix">
				<label class="col-sm-2 control-label text-right">Text</label>
				<div class="col-sm-10 controls">
					<textarea placeholder="Put your text here" rows="12">Ut sit amet metus eget lectus aliquet dignissim et vel tellus. Sed egestas ante felis. Integer metus augue, facilisis non sem ac, blandit suscipit nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</textarea>
				</div>
			</div>			
		  <div class="text-center"><button type="submit" class="btn btn-primary">SAVE</button></div>
		</form>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="editText" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">EDIT COMPANY</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <input type="text" value="Lorem Company" placeholder="Enter Company Name">
		  </div>
		  <div class="form-group">
		  	<label>Name</label>
		    <input value="Lorem Name" style="margin-top: 10px" type="text" placeholder="First Name">
		    <input value="Lorem Name" style="margin-top: 10px" type="text" placeholder="Last Name">
		  </div>
		  <div class="form-group">
		  	<label for="phone">Phone</label>
		    <input value="999-999-999" id="phone" type="text" placeholder="Phone Number">
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlInput1">Email address</label>
		    <input value="lorem@email.com" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		  </div>
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input value="lorem user" type="text" class="form-control" id="username" placeholder="Username">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input value="lorempassword" type="text" class="form-control" id="password" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-primary">Save Changes</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- REMOVE TEXT -->
<div class="modal fade" id="removeText" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-red">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">CONFIRM REMOVING</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="text-center"><button type="submit" class="btn btn-primary">CONFIRM</button></div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
</template>
