<template>
    <div>

<!-- Middle Content Start -->
	<div class="vd_content-wrapper">
		<div class="vd_container">
			<div class="vd_content clearfix">
				<div class="vd_head-section clearfix">
					<div class="vd_panel-header">
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a href="pages-custom-product.html">Pages</a></li>
							<li class="active">Portal Clients</li>
						</ul>
						<div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
							<div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"><i class="fa fa-arrows-h"></i></div>
							<div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"><i class="fa fa-arrows-v"></i></div>
							<div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"><i class="glyphicon glyphicon-fullscreen"></i></div>
						</div>
					</div>
				</div><!-- vd_head-section end -->
				<div class="vd_title-section clearfix">
					<div class="vd_panel-header">
						<h1><span class="append-icon icon-vcard"></span> Portal Clients</h1>
					</div>
				</div><!-- vd_title-section end -->
				<div class="vd_content-section clearfix">
					
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="mgbt-xs-10">
								<button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#sentMessageCompany"><span class="append-icon"><i class="fa fa-comment-o fa-fw"></i></span>Sent Message To All Clients</button>
							</div>
						</div>
						<div class="col-md-4">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
<!-- Category1 Tab -->
						<div id="category1" class="active tab-pane fade in">
						<div class="col-sm-12">
							<div class="row dashboardPanels">
						<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
							<div class="vd_status-widget widget dashboardPanel">
								<a class="panel-body vd_blue pd-5" href="#">
									<div class="clearfix">
										<div class="menu-text clearfix">Active Companies</div>
										<span class="company-value">10.500</span>
									</div>
								</a>
							</div>
						</div><!-- col-md-3 company end -->
						<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
							<div class="vd_status-widget widget dashboardPanel">
								<a class="panel-body vd_blue pd-5" href="#">
									<div class="clearfix">
										<div class="menu-text clearfix">Blocked Companies</div>
										<span class="company-value">200</span>
									</div>
								</a>
							</div>
						</div><!-- col-md-3 company end -->
						<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
							<div class="vd_status-widget widget dashboardPanel">
								<a class="panel-body vd_blue pd-5" href="#">
									<div class="clearfix">
										<div class="menu-text clearfix">Suspended Companies</div>
										<span class="company-value">300</span>
									</div>
								</a>
							</div>
						</div><!-- col-md-3 company end -->
						<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
							<div class="vd_status-widget widget dashboardPanel">
								<a class="panel-body vd_blue pd-5" href="#">
									<div class="clearfix">
										<div class="menu-text clearfix">Total Companies</div>
										<span class="company-value">11.000</span>
									</div>
								</a>
							</div>
						</div><!-- col-md-3 company end -->
					</div><!-- row dashboardPanels end -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="tabs widget">
								<ul class="nav nav-tabs widget">
									<li class="active"><a data-toggle="tab" href="#allCompaniesTab1"> All Companies <span class="menu-active"><i class="fa fa-caret-up"></i></span></a></li>
									<li><a data-toggle="tab" href="#activeCompaniesTab1"> Active Companies <span class="menu-active"><i class="fa fa-caret-up"></i></span></a></li>
									<li><a data-toggle="tab" href="#blockedCompaniesTab1"> Blocked Companies <span class="menu-active"><i class="fa fa-caret-up"></i></span></a></li>
									<li><a data-toggle="tab" href="#suspendedCompaniesTab1"> Suspended Companies <span class="menu-active"><i class="fa fa-caret-up"></i></span></a></li>
								</ul>
								<div class="tab-content">
									<div id="allCompaniesTab1" class="tab-pane active">
										<div class="row">
											<div class="col-md-12">
												<div class="panel widget">
													<div class="panel-body table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>#</th>
																	<th>Company Name</th>
																	<th>Company ID</th>
																	<th>Current Jobs</th>
																	<th>Jobs Done</th>
																	<th>Jobs Canceled</th>
																	<th>Reviews</th>
																	<th>Options</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">1</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">User221</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">25361</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">CJ</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JD</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JC</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">Rev</a></td>
																	<td class="menu-action">
																		
																		<a data-toggle="modal" data-target="#blockThisCompany" class="btn menu-icon vd_bd-red vd_red"><i class="fa fa-lock" data-original-title="Block" data-toggle="tooltip" data-placement="top" ></i></a>
																		<a data-toggle="modal" data-target="#suspendThisCompany" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="Suspend" data-toggle="tooltip" data-placement="top" class="fa fa-pause"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div><!-- Panel Widget end--> 
											</div><!-- col-md-12 end -->
										</div><!-- row end -->
									</div><!-- tab-pane end -->
									
									<div id="activeCompaniesTab1" class="tab-pane">
										<div class="row">
											<div class="col-md-12">
												<div class="panel widget">
													<div class="panel-body table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>#</th>
																	<th>Company Name</th>
																	<th>Company ID</th>
																	<th>Current Jobs</th>
																	<th>Jobs Done</th>
																	<th>Jobs Canceled</th>
																	<th>Reviews</th>
																	<th>Options</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">1</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">User221</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">25361</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">CJ</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JD</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JC</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">Rev</a></td>
																	<td class="menu-action">
																		
																		<a data-toggle="modal" data-target="#blockThisCompany" class="btn menu-icon vd_bd-red vd_red"><i class="fa fa-lock" data-original-title="Block" data-toggle="tooltip" data-placement="top" ></i></a>
																		<a data-toggle="modal" data-target="#suspendThisCompany" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="Suspend" data-toggle="tooltip" data-placement="top" class="fa fa-pause"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div><!-- Panel Widget end-->
											</div><!-- col-md-12 end -->
										</div><!-- row end -->
									</div><!-- tab-pane end -->
									
									<div id="blockedCompaniesTab1" class="tab-pane">
										<div class="row">
											<div class="col-md-12">
												<div class="panel widget">
													<div class="panel-body table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>#</th>
																	<th>Company Name</th>
																	<th>Company ID</th>
																	<th>Current Jobs</th>
																	<th>Jobs Done</th>
																	<th>Jobs Canceled</th>
																	<th>Reviews</th>
																	<th>Options</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">1</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">User221</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">25361</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">CJ</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JD</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JC</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">Rev</a></td>
																	<td class="menu-action">
																		
																		<a data-toggle="modal" data-target="#unblockThisCompany" class="btn menu-icon vd_bd-blue vd_blue"><i data-original-title="Unblock" data-toggle="tooltip" data-placement="top" class="fa fa-unlock-alt"></i></a>
																		<a data-toggle="modal" data-target="#suspendThisCompany" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="Suspend" data-toggle="tooltip" data-placement="top" class="fa fa-pause"></i></a>
																		<a data-toggle="modal" data-target="#theReason" href="javascript:void(0);"><span class="label label-default">Reason</span></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div><!-- Panel Widget end-->
											</div><!-- col-md-12 end -->
										</div><!-- row end -->
									</div><!-- tab-pane end -->
									
									<div id="suspendedCompaniesTab1" class="tab-pane">
										<div class="row">
											<div class="col-md-12">
												<div class="panel widget">
													<div class="panel-body table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>#</th>
																	<th>Company Name</th>
																	<th>Company ID</th>
																	<th>Current Jobs</th>
																	<th>Jobs Done</th>
																	<th>Jobs Canceled</th>
																	<th>Reviews</th>
																	<th>Options</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">1</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">User221</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">25361</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">CJ</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JD</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">JC</a></td>
																	<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">Rev</a></td>
																	<td class="menu-action">
																		 
																		<a data-toggle="modal" data-target="#blockThisCompany" class="btn menu-icon vd_bd-red vd_red"><i class="fa fa-lock" data-original-title="Block" data-toggle="tooltip" data-placement="top" ></i></a>
																		<a data-toggle="modal" data-target="#resumeThisCompany" class="btn menu-icon vd_bd-blue vd_blue"><i class="fa fa-play" data-original-title="Resume" data-toggle="tooltip" data-placement="top" ></i></a>
																		<a data-toggle="modal" data-target="#theReason" href="javascript:void(0);"><span class="label label-default">Reason</span></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div><!-- Panel Widget end-->
											</div><!-- col-md-12 end -->
										</div><!-- row end -->
									</div><!-- tab-pane end -->
								</div><!-- tab-content end -->
							</div><!-- tabs-widget end -->
						</div>
					</div><!-- row end -->
					
<!-- Category1 Tab END-->

				</div>
<!-- Category Tabs END -->				
                
				
             </div><!-- col-sm-12 tabs end -->
            </div><!-- row end -->
					
					




          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
    <!-- .vd_content-wrapper -->

    <!-- Middle Content End -->

  </div>
  <!-- .container -->

<!-- MODALS start -->

<!-- SALE HISTORY -->
<div class="modal right fade" id="saleHistory" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true" style="z-index:1042;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green text-center">
		  <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">
          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>
        </button>
        <h4 class="modal-title vd_white">BioInc Corp.</h4>
      </div>
      <div class="modal-body">
			  <div class="row">
				  <div class="col-md-12 ">
					  <div class="userAvatar vd_bg-light-grey text-center mrgn30-0">
						  <div class="avatarBackground"><img src="img/avatar/avatarBg.png" alt="" ></div>
						  <div class="logoWrapper vd_bg-light-grey"><img src="img/logos/boinc.png" alt="" class="projectImg inline-block"></div>
						  <h4>BioInc Corp.</h4>
						  <h6>Company ID: 120987465</h6>
					</div> <!-- userAvatar end -->					  
				</div><!-- Left Modal Deck end -->
			  </div>
				
				
			  <div class="row">
				<div class="col-md-3">
				<h4>List</h4>
					  <div  id="popupScrMenu" style="height:400px;">
					  <ul class="prMenu">
						<li class="active">
							  <a data-toggle="tab" href="#homeTab"> Home <span class="label label-default pull-right">500</span></a>
						</li>
						<li>
							  <a data-toggle="tab" href="#jobQuote"> Job Quote <span class="label label-default pull-right">500</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#jobContracts"> Job Contracts <span class="label label-default vd_bg-blue vd_white pull-right">20</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#jobPosts"> My Job Posts <span class="label label-default vd_bg-green vd_white pull-right">30</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#postProgress"> My Post Progress <span class="label label-default vd_bg-red vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#saleServices"> Sale Services <span class="label label-default vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myPayments"> My Payments <span class="label label-default vd_bg-green vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#ticketSupport"> Ticket Support <span class="label label-default vd_bg-red vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myOpportunities"> My Opportunities <span class="label label-default vd_bg-blue vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#purchaseHistory"> Purchase History <span class="label label-default vd_bg-green vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#searchEmployer"> Search Employer <span class="label label-default vd_bg-red vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myReviews"> My Reviews <span class="label label-default vd_bg-green vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myWarranty"> My Warranty <span class="label label-default vd_bg-red vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myTeam"> My Team <span class="label label-default vd_bg-blue vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myClients"> My Clients <span class="label label-default vd_bg-green vd_white pull-right">10</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#myIncome"> My Income <span class="label label-default vd_bg-red vd_white pull-right">10</span></a>
						</li>
					</ul><!-- Menu Buttons end -->
				</div> 
				</div> 
				<div class="col-md-9">
				<div class="tab-content no-bd mrgn0 pdng0">
					
				<div class="tab-pane active fade in" id="homeTab">
					<div class="container-fluid">
						<div class="row">
							<div class="pdng15">
								<div class="col-md-6 text-center" >
									<h3>All Tasks</h3>
									<div class="relative chartWrapper">
										<div id="doughnutChart1" class="chart"></div>
									</div>
									<span class="label label-default vd_bg-green vd_white mrgn5">Completed: 3</span>
									<span class="label label-default vd_bg-blue vd_white mrgn5">Behind: 2</span>
									<span class="label label-default vd_bg-grey vd_white mrgn5">Pending: 0</span>
								</div>
								<div class="col-md-6 text-center">
									<h3>All Projects</h3>
									<div class="relative chartWrapper">
										<div id="doughnutChart2" class="chart"></div>
									</div>
									<span class="label label-default vd_bg-green vd_white mrgn5">Completed: 3</span>
									<span class="label label-default vd_bg-blue vd_white mrgn5">Behind: 2</span>
									<span class="label label-default vd_bg-grey vd_white mrgn5">Pending: 0</span>
								</div>
							</div>
						</div><!-- row end -->
						<div class="row mrgn30-0">
							<div class="pdng15">
								<div class="col-md-8 col-md-offset-2">
									<h4 class="text-center">Payments</h4>
									<div class="row">
										<div class="col-md-6 text-center vd_bg-dark-blue vd_white pdng10-0">
											<h4 class="pdng5-0 mrgn0"><strong>TODAY</strong></h4>
											<p class="mrgn0">$ 0.00</p>
										</div>
										<div class="col-md-6 text-center vd_bg-blue vd_white pdng10-0">
											<h4 class="pdng5-0 mrgn0"><strong>THIS MONTH</strong></h4>
											<p class="mrgn0">$ 200.00</p>
										</div>
									</div>
								</div>
							</div>
						</div><!-- row end -->
						<div class="row mrgn30-0">
							<div class="pdng15">
								<div class="col-md-8 col-md-offset-2">
									<h4 class="text-center">Invoices</h4>
									<div class="row">
										<div class="col-md-6 text-center vd_bg-dark-green vd_white pdng10-0">
											<h4 class="pdng5-0 mrgn0"><strong>DUE</strong></h4>
											<p class="mrgn0">$ 2300.00</p>
										</div>
										<div class="col-md-6 text-center vd_bg-green vd_white pdng10-0">
											<h4 class="pdng5-0 mrgn0"><strong>OVERDUE</strong></h4>
											<p class="mrgn0">$ 2000.00</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="pdng15">
								<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
									<div class="vd_status-widget widget dashboardPanel">
										<a class="panel-body vd_blue pd-5" href="#">
											<div class="clearfix">
												<div class="menu-text clearfix">Active Projects</div>
												<span class="company-value">10</span>
											</div>
										</a>
									</div>
								</div><!-- col-md-3 company end -->
								
								<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
									<div class="vd_status-widget widget dashboardPanel">
										<a class="panel-body vd_blue pd-5" href="#">
											<div class="clearfix">
												<div class="menu-text clearfix">Open Tasks</div>
												<span class="company-value">2</span>
											</div>
										</a>
									</div>
								</div><!-- col-md-3 company end -->
								
								<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
									<div class="vd_status-widget widget dashboardPanel">
										<a class="panel-body vd_blue pd-5" href="#">
											<div class="clearfix">
												<div class="menu-text clearfix">Support Tickets</div>
												<span class="company-value">30</span>
											</div>
										</a>
									</div>
								</div><!-- col-md-3 company end -->
								
								<div class="col-md-3 col-sm-4 col-xs-12 text-center company">
									<div class="vd_status-widget widget dashboardPanel">
										<a class="panel-body vd_blue pd-5" href="#">
											<div class="clearfix">
												<div class="menu-text clearfix">Active Timers</div>
												<span class="company-value">10</span>
											</div>
										</a>
									</div>
								</div><!-- col-md-3 company end -->
								
							</div>
						</div>
					</div>	
				</div><!--  tab-pane end -->
					
				<div class="tab-pane fade" id="jobQuote">	
					<h3>Job Quote</h3>		
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="jobContracts">		
					<h3>Job Contracts</h3>			
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="jobPosts">			
					<h3>My Job Posts</h3>					
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="postProgress">			
					<h3>My Post Progress</h3>									
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="saleServices">			
					<h3>Sale Services</h3>								
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myPayments">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="ticketSupport">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myOpportunities">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="purchaseHistory">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="searchEmployer">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myReviews">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myWarranty">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myTeam">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myClients">				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="myIncome">				
				</div><!--  tab-pane end -->
				
				</div><!--  tab-content end -->
				</div><!-- col-md-9 end -->
			</div><!-- row end -->
      </div>	  
      <div class="modal-footer vd_bg-white">		  
      </div>
    </div>
  </div>
</div>

<!-- VIEW THIS COMPANY -->
<div class="modal right fade" id="viewThisCompany_backup" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true" style="z-index: 1049;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green text-center">
        <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">
          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>
        </button>
        <h4 class="modal-title vd_white">COMPANY PROFILE</h4>
      </div>
      <div class="modal-body h100">
        <div class="row">
          <div class="col-md-2">
            <div class="widget panel-bd-top container-fluid">
              
              <h4 class="mrgn5-0">Company Name</h4>
              
              <hr class="mrgn0">
              
              <img src="img/images/helsinki.png" alt="" class="mrgn5-0">
              
              <div class="row">
                <div class="col-xs-4 vd_yellow">
                  <i class="fa fa-star-half-o fs2"></i>
                </div>
                <div class="col-xs-8 vd_yellow">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
              </div>
              
              <hr class="row mrgntb5">
              
              <div class="row">  
              <div class="col-md-12">
                <div class="menu-text"> <span class="menu-icon"><i class=" fa fa-wrench vd_green"></i></span> 98% Job Success
                  <div class="menu-info">
                    <div class="progress progress-sm mrgn0">
                      <div style="width:98%" class="progress-bar progress-bar-success">98%</div>
                    </div>                                                                                                    
                  </div>                           
                </div>  
              </div>
              </div>              
              
              <hr class="row mrgntb5">
              
              <div class="row">
              <div class="col-md-12">
                <i class="fa fa-clock-o vd_green"></i> 15 Hourly Jobs
              </div>
              </div> 
              
              <hr class="row mrgntb5">
              
              <div class="row">
              <div class="col-md-12">
                <i class="fa fa-suitcase vd_green"></i> 15 Contracts
              </div>
              </div> 
              
              <hr class="row mrgntb5">
              
              <div class="row">
              <div class="col-md-12">
                <i class="fa fa-gavel vd_green"></i> 15 Current Jobs
              </div>
              </div> 
              
            </div>
          </div>
          <div class="col-md-10">
          
	    <div class="tabs widget">
                  
                  <ul class="nav nav-tabs widget">
                    <li class="active">
		      <a data-toggle="tab" href="#profileTab"> Profile <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#currentProjectsTab"> Current Projects <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#canceledProjectsTab"> Canceld Projects <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#currentContractTab"> Current Contract <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#jobsDoneTab"> Jobs Done <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#escrowTab"> Escrow <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#reviewsTab"> Reviews <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#reportsTab"> Reports <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                    <li>
		      <a data-toggle="tab" href="#settingsTab"> Settings <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>
		    </li>
                  </ul>
                  <div class="tab-content">
                
		    <div id="profileTab" class="tab-pane active">
		      <div class="pd-20">
<div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Edit </a> </div>      
        <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">First Name:</label>
              <div class="col-xs-7 controls">Mariah</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Last Name:</label>
              <div class="col-xs-7 controls">Caraiban</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">User Name:</label>
              <div class="col-xs-7 controls">Mariah</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Email:</label>
              <div class="col-xs-7 controls">mariah@Vendroid.com</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">City:</label>
              <div class="col-xs-7 controls">Los Angeles</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Country:</label>
              <div class="col-xs-7 controls">United States</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Birthday:</label>
              <div class="col-xs-7 controls">Jan 22, 1984</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Interests:</label>
              <div class="col-xs-7 controls">Basketball, Web, Design, etc.</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Website:</label>
              <div class="col-xs-7 controls"><a href="http://Vendroid.venmond.com">Vendroid.venmond.com</a></div>
              <!-- col-sm-10 --> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Phone:</label>
              <div class="col-xs-7 controls">+1-234-5678</div>
              <!-- col-sm-10 --> 
            </div>
          </div>
        </div>
        <hr class="pd-10">
        <div class="row">
          <div class="col-sm-7 mgbt-xs-20">
            <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>
            <div class="content-list content-menu">
              <ul class="list-wrapper">
                <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Owner</a> at <a href="http://www.venmond.com">Vendroid Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2013 ~ Now</span></span> </span> </li>
                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">CEO</a> at <a href="http://www.venmond.com">Mc. Dondon</a> <span class="menu-info"><span class="menu-date"> March 2011 ~ February 2013</span></span> </span> </li>
                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Web Designer</a> at <a href="http://www.venmond.com">Web Design Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2010 ~ February 2011</span></span> </span> </li>
                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Sales</a> at <a href="http://www.venmond.com">Sales Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2009 ~ February 2010</span></span> </span> </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5">
            <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>
            <div class="content-list content-menu">
              <ul class="list-wrapper">
                <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> Bachelor's degree, E-Commerce/Electronic Commerce at <a href="http://www.venmond.com">UCLA</a> <span class="menu-info"><span class="menu-date"> August 2003 ~ July 2008</span></span> </span> </li>
                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">Web Design Education</a> <span class="menu-info"><span class="menu-date"> March 2006 ~ February 2007</span></span> </span> </li>                
                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">St. Louis High School</a> <span class="menu-info"><span class="menu-date"> August 2000 ~ July 2003 </span></span> </span> </li>
                <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">St. Monica Junior High School</a> <span class="menu-info"><span class="menu-date"> August 1998 ~ July 2000</span></span> </span> </li>
              </ul>
            </div>            
          </div>
        </div>
        <!-- row -->
        <hr class="pd-10">
        <div class="row">
          <div class="col-sm-7">
            <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>
            <div class="">
              <div class="content-list">
                <div data-rel="scroll" class="mCustomScrollbar _mCS_6" style="overflow: hidden;"><div class="mCustomScrollBox mCS-light" id="mCSB_6" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;"><div class="mCSB_container" style="position: relative; top: 0px;">
                  <ul class="list-wrapper">
                    <li> <span class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></span> <span class="menu-text"> Someone has give you a surprise <span class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></span> </span>  </li>
                    <li> <span class="menu-icon vd_blue"><i class=" fa fa-user"></i></span> <span class="menu-text"> Change your user profile details <span class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></span> </span> </li>
                    <li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span></li>
                    <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span>  </li>
                    <li>  <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span> <span class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span> </li>
                    <li>  <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span>  </li>
                    <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span> </li>
                    <li>  <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span> <span class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span>  </li>
                  </ul>
                </div><div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px; height: 352px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 352px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                <div class="closing text-center" style=""> <a href="#">See All Activities <i class="fa fa-angle-double-right"></i></a> </div>
              </div>
            </div>
          </div>
          <!-- col-sm-7 --> 
          <div class="col-sm-5">
            <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-flask mgr-10 profile-icon"></i> SKILL</h3>
            <div class="skill-list">
              <div class="skill-name"> Photoshop </div>
              <div class="progress  progress-sm">
                <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">90%</span> </div>
              </div>
            </div>
            <div class="skill-list">
              <div class="skill-name"> Illustrator </div>
              <div class="progress  progress-sm">
                <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-danger "> <span class="sr-only">20%</span> </div>
              </div>
            </div>
            <div class="skill-list">
              <div class="skill-name"> PHP </div>
              <div class="progress  progress-sm">
                <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">50% Complete</span> </div>
              </div>
            </div>
            <div class="skill-list">
              <div class="skill-name"> Javascript </div>
              <div class="progress  progress-sm">
                <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info "> <span class="sr-only">60% Complete</span> </div>
              </div>
            </div>
            <div class="skill-list">
              <div class="skill-name"> Communication </div>
              <div class="progress  progress-sm">
                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">95% Complete</span> </div>
              </div>
            </div> 
            <div class="skill-list">
              <div class="skill-name"> Writing </div>
              <div class="progress  progress-sm">
                <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">45% Complete</span> </div>
              </div>
            </div>                                 
          </div>
          <!-- col-sm-7 -->           
        </div>
        <!-- row --> 
      </div>
		    </div>
		    
		    
		    <div id="currentProjectsTab" class="tab-pane active">
		    <div class="pd-20">
                      <div class="row">
                        <div class="col-md-12">
                            
                              
                                        <div class="row">
                                          <div class="col-md-2 text-center">
                                            <img src="img/avatar/customer.png" alt="" width="140" height="100" class="mrgn15-0">
                                          </div>
                                          <div class="col-md-8">
                                            <div class="row mrgn0 pdng5">
                                              <div class="col-md-4">Status: Private</div>
                                              <div class="col-md-4">User Name: ID</div>
                                              <div class="col-md-4">Job: ID</div>
                                            </div>
                                            <hr class="mrgn0">
                                            <div class="row mrgn0">
                                              <div class="col-md-12 pdng5">
                                                Hello there, I´m Planing my Birthday with Family and Friends and i´m looking for a Partyservice who can Deliver us with Drinks and Food ..
                                              </div>
                                            </div>
                                            <hr class="mrgn0">
                                            <div class="row mrgn0 pdng5">
                                              <div class="col-md-3"><i class="fa fa-info-circle"></i> Mobile Repair</div>
                                              <div class="col-md-3"><i class="fa fa-clock-o"></i> 10.12.2016 – 19:30</div>
                                              <div class="col-md-3"><i class="fa fa-tags"></i> Fix / Agreement</div>
                                              <div class="col-md-3"><i class="fa fa-money"></i> 2500,00 €</div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="row text-center mrgn0">
                                                <a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#viewThisJob"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
                                                <a class="btn menu-icon vd_bd-yellow vd_yellow pdng1-8" data-toggle="modal" data-target="#blockThisJob"><i class="fa fa-minus" data-original-title="block" data-toggle="tooltip" data-placement="top"></i></a>
                                            </div>
                                            <hr class="mrgn0">                                            
                                            <div class="row text-center mrgn0">
                                                <a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removeThisJob"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
                                            </div>
                                            <h5 class="vd_white vd_bg-green text-center pdng5 mrgn0">Proposals</h5>
                                            <p class="text-center mrgn0 fs2">
					      <a href="javascript:void(0);" data-toggle="modal" data-target="#viewProposals" title=""><span data-original-title="view proposals" data-toggle="tooltip" data-placement="top">35</span></a>
					    </p>
                                          </div>
                                        </div>
                                        
                                        <hr>
                                        
                                        <div class="row">
                                          <div class="col-md-2 text-center">
                                            <img src="img/avatar/customer.png" alt="" width="140" height="100" class="mrgn15-0">
                                          </div>
                                          <div class="col-md-8">
                                            <div class="row mrgn0 pdng5">
                                              <div class="col-md-4">Status: Private</div>
                                              <div class="col-md-4">User Name: ID</div>
                                              <div class="col-md-4">Job: ID</div>
                                            </div>
                                            <hr class="mrgn0">
                                            <div class="row mrgn0">
                                              <div class="col-md-12 pdng5">
                                                Hello there, I´m Planing my Birthday with Family and Friends and i´m looking for a Partyservice who can Deliver us with Drinks and Food ..
                                              </div>
                                            </div>
                                            <hr class="mrgn0">
                                            <div class="row mrgn0 pdng5">
                                              <div class="col-md-3"><i class="fa fa-info-circle"></i> Mobile Repair</div>
                                              <div class="col-md-3"><i class="fa fa-clock-o"></i> 10.12.2016 – 19:30</div>
                                              <div class="col-md-3"><i class="fa fa-tags"></i> Fix / Agreement</div>
                                              <div class="col-md-3"><i class="fa fa-money"></i> 2500,00 €</div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="row text-center mrgn0">
                                                <a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#viewThisJob"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
                                                <a class="btn menu-icon vd_bd-yellow vd_yellow pdng1-8" data-toggle="modal" data-target="#blockThisJob"><i class="fa fa-minus" data-original-title="block" data-toggle="tooltip" data-placement="top"></i></a>
                                            </div>
                                            <hr class="mrgn0">                                            
                                            <div class="row text-center mrgn0">
                                                <a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removeThisJob"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
                                            </div>
                                            <h5 class="vd_white vd_bg-green text-center pdng5 mrgn0">Proposals</h5>
                                            <p class="text-center mrgn0 fs2">
					      <a href="javascript:void(0);" data-toggle="modal" data-target="#viewProposals" title=""><span data-original-title="view proposals" data-toggle="tooltip" data-placement="top">35</span></a>
					    </p>
                                          </div>
                                        </div>
                                      
                        </div>
                      </div>
                    </div>
		    </div>
		    
		    
		    
		    <div id="canceledProjectsTab" class="tab-pane active"></div>
		    <div id="currentContractTab" class="tab-pane active"></div>
		    <div id="jobsDoneTab" class="tab-pane active"></div>
		    <div id="escrowTab" class="tab-pane active"></div>
		    <div id="reviewsTab" class="tab-pane active"></div>
		    <div id="reportsTab" class="tab-pane active"></div>
		    <div id="settingsTab" class="tab-pane active"></div>
                  
                  </div>
            </div>
          
          </div>
        </div>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	

<!-- VIEW THIS COMPANY -->
<div class="modal right fade" id="viewThisCompany" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true" style="z-index: 1049;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green text-center">
        <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">
          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>
        </button>
        <h4 class="modal-title vd_white">COMPANY PROFILE</h4>
      </div>
      <div class="modal-body h100">
        
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	

<!-- SENT MESSAGE -->
<div class="modal right fade" id="sentMessageCompany" tabindex="-1" role="dialog" aria-labelledby="Sent Message to all companies" aria-hidden="true" style="z-index: 1049;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green text-center">
        <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">
          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>
        </button>
        <h4 class="modal-title vd_white">SENT A MESSAGE TO ALL COMPANIES</h4>
      </div>
      <div class="modal-body h100">
        <div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<textarea class="vd_bd-yellow" rows="10" placeholder="What are you doing?" ></textarea>
				<div class="vd_textarea-menu vd_bg-yellow vd_bd-yellow" >
					<ul class="nav nav-pills ">
						<li class="one-icon"><a data-toggle="tab-post" href="javascript:void(0);"><span class="menu-icon"><i class="fa fa-user fa-fw"></i></span></a></li>
						<li class="one-icon"><a data-toggle="tab-post" href="javascript:void(0);"><span class="menu-icon"><i class="fa fa-camera fa-fw"></i></span></a></li>
						<li class="one-icon"><a data-toggle="tab-post" href="javascript:void(0);"><span class="menu-icon"><i class="fa fa-smile-o fa-fw"></i></span></a></li>
						<li class="pull-right"><a data-toggle="tab-post" href="javascript:void(0);" style="border-left:1px solid rgba(255,255,255,.3)"><span class="menu-icon"><i class="fa fa-check fa-fw"></i></span><span class="menu-text">Send</span></a></li>
					</ul>
				</div>
			</div>
        </div>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	

<!-- THE REASON IS -->
<div class="modal fade" id="theReason" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">THE REASON IS</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <h5><i class="fa fa-exclamation-circle vd_red"></i> Incompleted task #3.2</h5>
		  </div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- BLOCK THIS COMPANY -->
<div class="modal fade" id="blockThisCompany" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">BLOCK THIS COMPANY</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <select class="custom-select">
				<option selected>Select the Block reason</option>
				<option value="1">Because of</option>
				<option value="2">Because of</option>
		    </select>
		  </div>
		  <button type="submit" class="btn btn-primary">OK</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- SUSPEND THIS COMPANY -->
<div class="modal fade" id="suspendThisCompany" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">SUSPEND THIS COMPANY</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <select class="custom-select">
				<option selected>Select the Suspend reason</option>
				<option value="1">Because of</option>
				<option value="2">Because of</option>
		    </select>
		  </div>
		  <button type="submit" class="btn btn-primary">OK</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- UNBLOCK THIS COMPANY -->
<div class="modal fade" id="unblockThisCompany" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">UNBLOCK THIS COMPANY</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <select class="custom-select">
				<option selected>Select the Unblock reason</option>
				<option value="1">Because of</option>
				<option value="2">Because of</option>
		    </select>
		  </div>
		  <button type="submit" class="btn btn-primary">OK</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- RESUME THIS COMPANY -->
<div class="modal fade" id="resumeThisCompany" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">RESUME THIS COMPANY</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <select class="custom-select">
				<option selected>Select the Resume reason</option>
				<option value="1">Because of</option>
				<option value="2">Because of</option>
		    </select>
		  </div>
		  <button type="submit" class="btn btn-primary">OK</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	
<!-- MODALS end -->

    </div>
</template>
