<template>
    <div>
        <!-- Middle Content Start -->

    <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">
          <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a> </li>
                <li><a href="pages-custom-product.html">Pages</a> </li>
                <li class="active">PayIn / PayOut Accounts</li>
              </ul>
              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
      <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
      <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

            </div>
          </div>
          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1><span class="append-icon icon-credit-card"></span> PayIn / PayOut Accounts</h1>
            </div>
          </div>
          <div class="vd_content-section clearfix">
			<div class="vd_panel-header text-center pdng10">
              <h3 class=" vd_green">PayIn Accounts</h3>
            </div>
            <div class="row">
              <div class="col-sm-12">
				  <div class="container-fluid">
				  <div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="mrgn15-0">
								<button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addPayIn"><span class="append-icon"><i class="fa fa-plus"></i></span>Add New Account</button>
							</div>
						</div>
						<div class="col-md-4">
						</div>
					</div>
				</div>
                <div class="container-fluid">
								<div class="row">									
									<div class="col-md-12 pdng5">
										<table class="discountTable">
											<colgroup>
												<col width="10%">
												<col width="30%">
												<col width="30%">
												<col width="30%">
											</colgroup>
											<thead>
												<tr>
													<th class="text-center">No.</th>
													<th class="text-center">Title</th>
													<th class="text-center">Details</th>
													<th class="text-center">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>paypal</td>
													<td>paypal@paypal.com</td>
													<td>
														<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-pencil" data-original-title="edit" data-toggle="tooltip" data-placement="top"></i></a>
														<a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div><!-- col-md-12 end --> 
								</div><!-- row end --> 
							</div><!-- pdng5 -->
			</div>
            </div>
            <!-- row -->
            
            <div class="vd_panel-header text-center pdng10">
              <h3 class=" vd_green">PayOut Accounts</h3>
            </div>
            <div class="row">
              <div class="col-sm-12">
				  <div class="container-fluid">
				  <div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="mrgn15-0">
								<button type="button" class="btn vd_btn vd_bg-blue btn-lg btn-block" data-toggle="modal" data-target="#addPayOut"><span class="append-icon"><i class="fa fa-plus"></i></span>Add New Account</button>
							</div>
						</div>
						<div class="col-md-4">
						</div>
					</div>
				</div>
                <div class="container-fluid">
								<div class="row">									
									<div class="col-md-12 pdng5">
										<table class="discountTable">
											<colgroup>
												<col width="10%">
												<col width="30%">
												<col width="30%">
												<col width="30%">
											</colgroup>
											<thead>
												<tr>
													<th class="text-center">No.</th>
													<th class="text-center">Title</th>
													<th class="text-center">Details</th>
													<th class="text-center">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>visa</td>
													<td>1234 5555 6863 2254</td>
													<td>
														<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-pencil" data-original-title="edit" data-toggle="tooltip" data-placement="top"></i></a>
														<a class="btn menu-icon vd_bd-red vd_red mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-trash-o" data-original-title="remove" data-toggle="tooltip" data-placement="top"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div><!-- col-md-12 end --> 
								</div><!-- row end --> 
							</div><!-- pdng5 -->
			</div>
            </div>
            <!-- row -->

          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
    <!-- .vd_content-wrapper -->

    <!-- Middle Content End -->

<!-- MODALS start -->

<!-- ADD NEW PAYIN ACCOUNT -->
<div class="modal fade" id="addPayIn" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">ADD NEW PAYIN ACCOUNT</h4>
      </div>
      <div class="modal-body">
        <form method="post">			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Title</label>
				<div class="col-sm-7 controls">
					<input placeholder="Title" type="text">
					<span class="help-inline"></span>
				</div>
			</div>
			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Details</label>
				<div class="col-sm-7 controls">
					<input placeholder="Details" type="text">
					<span class="help-inline"></span>
				</div>
			</div>	
			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Details</label>
				<div class="col-sm-7 controls">
					<input placeholder="Details" type="text">
					<span class="help-inline"></span>
				</div>
			</div>			
		  <div class="text-center"><button type="submit" class="btn btn-primary">ADD PAYIN ACCOUNT</button></div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ADD NEW PAYOUT ACCOUNT -->
<div class="modal fade" id="addPayOut" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">ADD NEW PAYOUT ACCOUNT</h4>
      </div>
      <div class="modal-body">
        <form method="post">			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Title</label>
				<div class="col-sm-7 controls">
					<input placeholder="Title" type="text">
					<span class="help-inline"></span>
				</div>
			</div>
			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Details</label>
				<div class="col-sm-7 controls">
					<input placeholder="Details" type="text">
					<span class="help-inline"></span>
				</div>
			</div>	
			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Details</label>
				<div class="col-sm-7 controls">
					<input placeholder="Details" type="text">
					<span class="help-inline"></span>
				</div>
			</div>			
		  <div class="text-center"><button type="submit" class="btn btn-primary">ADD PAYOUT ACCOUNT</button></div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT PAYWAY -->
<div class="modal fade" id="editPayWay" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">EDIT</h4>
      </div>
      <div class="modal-body">
        <form method="post">			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Title</label>
				<div class="col-sm-7 controls">
					<input placeholder="Title" type="text" value="paypal">
					<span class="help-inline"></span>
				</div>
			</div>			
			<div class="form-group clearfix">
				<label class="col-sm-4 control-label text-right">Details</label>
				<div class="col-sm-7 controls">
					<input placeholder="Details" type="text" value="paypal@paypal.com">
					<span class="help-inline"></span>
				</div>
			</div>			
		  <div class="text-center"><button type="submit" class="btn btn-primary">SAVE</button></div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- REMOVE PAYMENT WAY -->
<div class="modal fade" id="removePayWay" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-red">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">REMOVE</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <button type="submit" class="btn btn-primary">CONFIRM</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    </div>
</template>
