<template>
    <div>

				<!-- Middle Content Start -->

				<div class="vd_content-wrapper">
					<div class="vd_container">
						<div class="vd_content clearfix">
							<div class="vd_head-section clearfix">
								<div class="vd_panel-header">
									<ul class="breadcrumb">
										<li><a href="index.html">Home</a> </li>
										<li><a href="pages-custom-product.html">Pages</a> </li>
										<li class="active">Payouts</li>
									</ul>
									<div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code."
									 data-step=5 data-position="left">
										<div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom"
										 class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
										<div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom"
										 class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
										<div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom"
										 class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

									</div>

								</div>
							</div>
							<div class="vd_title-section clearfix">
								<div class="vd_panel-header">
									<h1><span class="append-icon icon-add-to-list"></span> Payouts</h1>
								</div>
							</div>
							<div class="vd_content-section clearfix">
								<div class="row dashboardPanels">
									

									<div class="col-md-2 col-sm-12 text-center company">
										</div>
									<div class="col-md-3 col-sm-12 text-center company">
										<div class="vd_status-widget widget dashboardPanel">
											<a class="panel-body vd_blue pd-5" href="#">
												<div class="clearfix">
													<div class="menu-text clearfix">User / Client</div>
													<span class="company-value">10.000</span>
												</div>
											</a>
										</div>
									</div>
									<div class="col-md-3 col-sm-12 text-center company">
										<div class="vd_status-widget widget dashboardPanel">
											<a class="panel-body vd_blue pd-5" href="#">
												<div class="clearfix">
													<div class="menu-text clearfix">Client / User</div>
													<span class="company-value">20.000</span>
												</div>
											</a>
										</div>
									</div>

									<div class="col-md-3 col-sm-12 text-center company">
										<div class="vd_status-widget widget dashboardPanel">
											<a class="panel-body vd_blue pd-5" href="#">
												<div class="clearfix">
													<div class="menu-text clearfix">Payouts Done</div>
													<span class="company-value">40</span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="tabs widget">
										<ul class="nav nav-tabs widget">
											<li class="active"> <a data-toggle="tab" href="#userPayoutRequest">User Payout Request<span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
											<li> <a data-toggle="tab" href="#clientPayoutRequest">Client Payout Request<span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
											<li> <a data-toggle="tab" href="#payoutsDone">Payouts Done<span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
										</ul>
										<div class="tab-content">
											<div id="userPayoutRequest" class="tab-pane fade in active">
												<div class="row">
													<div class="col-md-12">
														<div class="panel widget">
															<div class="panel-body table-responsive">
																<table class="discountTable">
																	<colgroup>
																		<col width="10%">
																		<col width="10%">
																		<col width="15%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																	</colgroup>
																	<thead>
																		<tr>
																			<th class="text-center">Request ID</th>
																			<th class="text-center">Username</th>
																			<th class="text-center">Company Name</th>
																			<th class="text-center">On Milestone</th>
																			<th class="text-center">Request Amount</th>
																			<th class="text-center">Request Type</th>
																			<th class="text-center">Remain</th>
																			<th class="text-center">Option</th>
																			<th class="text-center">Status</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>ID-23456</td>
																			<td>Abbas</td>
																			<td>Upwork</td>
																			<td>5000,- €.</td>
																			<td>1000,- €.</td>
																			<td>Release</td>
																			<td>600,- €</td>
																			<td class="menu-action">
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																				<a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-money" data-original-title="pay" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>Open</td>
																		</tr>
																		<tr>
																			<td>ID-23456</td>
																			<td>Abbas</td>
																			<td>Upwork</td>
																			<td>5000,- €.</td>
																			<td>1000,- €.</td>
																			<td>Release</td>
																			<td>600,- €</td>
																			<td>
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																				<a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-money" data-original-title="pay" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>Open</td>
																		</tr>
																		<tr>
																			<td>ID-23456</td>
																			<td>Abbas</td>
																			<td>Upwork</td>
																			<td>5000,- €.</td>
																			<td>1000,- €.</td>
																			<td>Release</td>
																			<td>600,- €</td>
																			<td>
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																				<a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-money" data-original-title="pay" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>Open</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div id="clientPayoutRequest" class="tab-pane fade">
												<div class="row">
													<div class="col-md-12">
														<div class="panel widget">
															<div class="panel-body table-responsive">
																<table class="discountTable">
																	<colgroup>
																		<col width="10%">
																		<col width="10%">
																		<col width="15%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																	</colgroup>
																	<thead>
																		<tr>
																			<th class="text-center">Request ID</th>
																			<th class="text-center">Username</th>
																			<th class="text-center">Company Name</th>
																			<th class="text-center">On Milestone</th>
																			<th class="text-center">Request Amount</th>
																			<th class="text-center">Request Type</th>
																			<th class="text-center">Remain</th>
																			<th class="text-center">Option</th>
																			<th class="text-center">Status</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>ID-23456</td>
																			<td>Abbas</td>
																			<td>Upwork</td>
																			<td>5000,- €.</td>
																			<td>1000,- €.</td>
																			<td>Release</td>
																			<td>600,- €</td>
																			<td class="menu-action">
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																				<a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-money" data-original-title="pay" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>Open</td>
																		</tr>
																		<tr>
																			<td>ID-23456</td>
																			<td>Abbas</td>
																			<td>Upwork</td>
																			<td>5000,- €.</td>
																			<td>1000,- €.</td>
																			<td>Release</td>
																			<td>600,- €</td>
																			<td>
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																				<a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-money" data-original-title="pay" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>Open</td>
																		</tr>
																		<tr>
																			<td>ID-23456</td>
																			<td>Abbas</td>
																			<td>Upwork</td>
																			<td>5000,- €.</td>
																			<td>1000,- €.</td>
																			<td>Release</td>
																			<td>600,- €</td>
																			<td>
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																				<a class="btn menu-icon vd_bd-green vd_green mrgn5 pdng1-8" data-toggle="modal" data-target="#removePayWay"><i class="fa fa-money" data-original-title="pay" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>Open</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div id="payoutsDone" class="tab-pane fade">
												<div class="row">
													<div class="col-md-12">
														<div class="panel widget">
															<div class="panel-body table-responsive">
																<table class="discountTable">
																	<colgroup>
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="15%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																		<col width="10%">
																	</colgroup>
																	<thead>
																		<tr>
																			<th class="text-center">Request ID</th>
																			<th class="text-center">Paid To</th>
																			<th class="text-center">Date and Time</th>
																			<th class="text-center">Payment Code</th>
																			<th class="text-center">Payment Amount</th>

																			<th class="text-center">Status</th>
																			<th class="text-center">Total</th>
																			<th class="text-center">Option</th>
																			<th class="text-center">Status</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>ID-224434</td>
																			<td>User</td>
																			<td>Jan. 2017</td>
																			<td>546464654</td>
																			<td>100,00 €</td>

																			<td>Paid</td>
																			<td>600,- €</td>
																			<td class="menu-action">
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>

																			</td>
																			<td>
																				<select name="dropdown">
    																				<option value="1">Open</option>
    																				<option value="2">Paid</option>
																				</select>
																			</td>
																		</tr>
																		<tr>
																			<td>ID-224434</td>
																			<td>User</td>
																			<td>Jan. 2017</td>
																			<td>546464654</td>
																			<td>100,00 €</td>

																			<td>Paid</td>
																			<td>600,- €</td>
																			<td>
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>
																				<select name="dropdown">
    																				<option value="1">Open</option>
    																				<option value="2">Paid</option>
																				</select>
																			</td>
																		</tr>
																		<tr>
																			<td>ID-224434</td>
																			<td>User</td>
																			<td>Jan. 2017</td>
																			<td>546464654</td>
																			<td>100,00 €</td>

																			<td>Paid</td>
																			<td>600,- €</td>
																			<td>
																				<a class="btn menu-icon vd_bd-blue vd_blue mrgn5 pdng1-8" data-toggle="modal" data-target="#editPayWay"><i class="fa fa-eye" data-original-title="view" data-toggle="tooltip" data-placement="top"></i></a>
																			</td>
																			<td>
																				<select name="dropdown">
    																				<option value="1">Open</option>
    																				<option value="2">Paid</option>
																				</select>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<!-- .vd_content-section -->

								</div>
								<!-- .vd_content -->
							</div>
							<!-- .vd_container -->
						</div>
						<!-- .vd_content-wrapper -->

						<!-- Middle Content End -->

					</div>
					<!-- .container -->
				</div>
				<!-- .content -->
	<!-- MODALS start -->

			<!-- ADD PAYMENT WAY -->
			<div class="modal fade" id="addPayWay" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header vd_bg-green">
							<button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
							<h4 class="modal-title vd_white">ADD PAYMENT WAY</h4>
						</div>
						<div class="modal-body">
							<form method="post">

								<div class="form-group clearfix">
									<label class="col-sm-4 control-label text-right">Title</label>
									<div class="col-sm-7 controls">
										<input placeholder="Title" type="text">
										<span class="help-inline"></span>
									</div>
								</div>

								<div class="form-group clearfix">
									<label class="col-sm-4 control-label text-right">Euro</label>
									<div class="col-sm-7 controls">
										<input placeholder="Euro" type="text">
										<span class="help-inline"></span>
									</div>
								</div>

								<div class="form-group clearfix">
									<label class="col-sm-4 control-label text-right">%</label>
									<div class="col-sm-7 controls">
										<input placeholder="%" type="text">
										<span class="help-inline"></span>
									</div>
								</div>

								<div class="text-center"><button type="submit" class="btn btn-primary">ADD</button></div>
							</form>
						</div>
						<div class="modal-footer vd_bg-white">
							<button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- EDIT PAYMENT WAY -->
			<div class="modal fade" id="editPayWay" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header vd_bg-green">
							<button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
							<h4 class="modal-title vd_white">EDIT PAYMENT WAY</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment" style="resize:none;"></textarea>
							</div>
						</div>
						<div class="modal-footer vd_bg-white">
							<button type="submit" class="btn btn-success">Submit</button>
							<button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>



			<!-- REMOVE PAYMENT WAY -->
			<div class="modal fade" id="removePayWay" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header vd_bg-green">
							<button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          						<span aria-hidden="true">&times;</span>
       						</button>
							<h4 class="modal-title vd_white">REMOVE PAYMENT WAY</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="firstname-1" class="col-sm-3 control-label">Coupon Code</label>
								<div class="col-sm-7">
									<input type="text" placeholder="Coupon Code" class="form-control input-sm" name="generate" id="generate">
									<a id="gen" href="javascript:void(0);" class="btn btn-link">Generate</a>
								</div>
								<button type="submit" class="btn btn-success ml-10">Submit</button>
							</div>
						</div>
						<div class="modal-footer vd_bg-white">
							<button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="adminmodal" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header vd_bg-green">
							<button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          						<span aria-hidden="true">&times;</span>
        					</button>
							<h4 class="modal-title vd_white">Administrator Password</h4>
						</div>
						<div class="modal-body">
							
							<div class="form-group">
								<label for="pwd">Password:</label>
								<input type="password" class="form-control" id="pwd">
							</div>
						</div>
						<div class="modal-footer vd_bg-white">
							<button type="submit" class="btn btn-success ml-10">Submit</button>
							<button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

    </div>
</template>

