<template>
<!--    <div>-->
<!--        &lt;!&ndash; Middle Content Start &ndash;&gt;-->

<!--    <div class="vd_content-wrapper">-->
<!--      <div class="vd_container">-->
<!--        <div class="vd_content clearfix">-->
<!--          <div class="vd_head-section clearfix">-->
<!--            <div class="vd_panel-header">-->
<!--              <ul class="breadcrumb">-->
<!--                <li><a href="index.html">Home</a> </li>-->
<!--                <li><a href="pages-custom-product.html">Pages</a> </li>-->
<!--                <li class="active">Portal Income</li>-->
<!--              </ul>-->
<!--              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">-->
<!--    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>-->
<!--      <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>-->
<!--      <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>-->

<!--</div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="vd_title-section clearfix">-->
<!--            <div class="vd_panel-header">-->
<!--              <h1><i class="append-icon fa fa-fw fa-check-square-o"></i> Portal Income</h1>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="vd_content-section clearfix">-->

<!--			<div class="row">-->

<!--				<div class="col-md-6 col-sm-6 text-center">-->
<!--					<div class="vd_status-widget widget dashboardPanel">-->
<!--						<div class="panel-body vd_blue pd-5">-->
<!--							<div class="clearfix">-->
<!--								<div class="menu-text clearfix">Income This Month</div>-->
<!--								<br>-->
<!--								<span class="company-value">25.000 €</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div id="barMonth" class="widget vd_bg-white"></div>-->
<!--				</div>-->

<!--				<div class="col-md-6 col-sm-6 text-center">-->
<!--					<div class="vd_status-widget widget dashboardPanel">-->
<!--						<div class="panel-body vd_blue pd-5">-->
<!--							<div class="clearfix">-->
<!--								<div class="menu-text clearfix">Income This Year</div>-->
<!--								<br>-->
<!--								<span class="company-value">25.000 €</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div id="barYear" class="widget vd_bg-white"></div>-->
<!--				</div>-->

<!--            </div>-->
<!--            <div class="row">-->
<!--				<div class="col-md-8 controls">-->

<!--					<div class="col-md-2 controls">-->
<!--						<select>-->
<!--							<option>Select</option>-->
<!--							<option>Month 2</option>-->
<!--							<option>Month 3</option>-->
<!--						</select>-->
<!--					</div>&lt;!&ndash; col-md-2 end &ndash;&gt;-->

<!--					<div class="col-md-5 controls text-center">-->
<!--						<select class="width-45">-->
<!--							<option>Month from</option>-->
<!--							<option>Month 2</option>-->
<!--							<option>Month 3</option>-->
<!--						</select>-->
<!--						<select class="width-45">-->
<!--							<option>Month to</option>-->
<!--							<option>Month 2</option>-->
<!--							<option>Month 3</option>-->
<!--						</select>-->
<!--					</div>&lt;!&ndash; col-md-5 end &ndash;&gt;-->

<!--					<div class="col-md-5 controls text-center">-->
<!--						<select class="width-45">-->
<!--							<option>Year from</option>-->
<!--							<option>Year 2</option>-->
<!--							<option>Year 3</option>-->
<!--						</select>-->
<!--						<select class="width-45">-->
<!--							<option>Year to</option>-->
<!--							<option>Year 2</option>-->
<!--							<option>Year 3</option>-->
<!--						</select>-->
<!--					</div>&lt;!&ndash; col-md-5 end &ndash;&gt;-->

<!--				</div>&lt;!&ndash; col-md-8 end &ndash;&gt;-->

<!--				<div class="col-md-2 controls">-->
<!--					<select>-->
<!--						<option>Sort By</option>-->
<!--						<option>Choice 2</option>-->
<!--						<option>Choice 3</option>-->
<!--					</select>-->
<!--				</div>&lt;!&ndash; col-md-2 end &ndash;&gt;-->

<!--				<div class="col-md-2 controls">-->
<!--					<div class="input-group bootstrap-timepicker">-->
<!--						<input type="text" placeholder="Search">-->
<!--						<span class="input-group-addon"><i class="fa fa-search"></i></span>-->
<!--					</div>-->
<!--				</div>&lt;!&ndash; col-md-2 end &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-12">-->
<!--                <div class="tabs widget">-->

<!--					<ul class="nav nav-tabs widget">-->
<!--						<li class="active"><a data-toggle="tab" href="#monthlyIncome"> Monthly Income <span class="menu-active"><i class="fa fa-caret-up"></i></span></a></li>-->
<!--						<li><a data-toggle="tab" href="#yearlyIncome"> Yearly Income <span class="menu-active"><i class="fa fa-caret-up"></i></span></a></li>-->
<!--					</ul>-->

<!--					<div class="tab-content">-->

<!--						<div id="monthlyIncome" class="tab-pane fade in active">-->
<!--							<div class="row">-->
<!--								<div class="col-md-12">-->
<!--									<div class="panel widget">-->
<!--										<div class="panel-body table-responsive">-->
<!--											<table class="table table-hover">-->
<!--												<thead>-->
<!--													<tr>-->
<!--														<th class="text-center">Month</th>-->
<!--														<th class="text-center">Invoice Net</th>-->
<!--														<th class="text-center">Tax 19%</th>-->
<!--														<th class="text-center">Total Amount</th>-->
<!--														<th class="text-center">Options</th>-->
<!--													</tr>-->
<!--												</thead>-->
<!--												<tbody>-->
<!--													<tr class="text-center">-->
<!--														<td>01.11.2020</td>-->
<!--														<td>100 €</td>-->
<!--														<td>19 €</td>-->
<!--														<td>119 €</td>-->
<!--														<td class="menu-action">-->
<!--															<a data-toggle="modal" data-target="#viewThisUser" class="btn menu-icon vd_bd-green vd_green"><i class="fa fa-eye" data-original-title="View" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a data-toggle="modal" data-target="#blockThisUser" class="btn menu-icon vd_bd-yellow vd_yellow"><i class="fa fa-print" data-original-title="Print" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XML" data-toggle="tooltip" data-placement="top">XML</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download TXT" data-toggle="tooltip" data-placement="top">TXT</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XLS" data-toggle="tooltip" data-placement="top">XLS</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download CSV" data-toggle="tooltip" data-placement="top">CSV</span></a>-->
<!--														</td>-->
<!--													</tr>-->
<!--													<tr class="text-center">-->
<!--														<td>01.11.2020</td>-->
<!--														<td>100 €</td>-->
<!--														<td>19 €</td>-->
<!--														<td>119 €</td>-->
<!--														<td class="menu-action">-->
<!--															<a data-toggle="modal" data-target="#viewThisUser" class="btn menu-icon vd_bd-green vd_green"><i class="fa fa-eye" data-original-title="View" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a data-toggle="modal" data-target="#blockThisUser" class="btn menu-icon vd_bd-yellow vd_yellow"><i class="fa fa-print" data-original-title="Print" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XML" data-toggle="tooltip" data-placement="top">XML</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download TXT" data-toggle="tooltip" data-placement="top">TXT</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XLS" data-toggle="tooltip" data-placement="top">XLS</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download CSV" data-toggle="tooltip" data-placement="top">CSV</span></a>-->
<!--														</td>-->
<!--													</tr>-->
<!--												</tbody>-->
<!--											</table>-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; Panel Widget &ndash;&gt;-->
<!--								</div>&lt;!&ndash; col-md-12 &ndash;&gt;-->
<!--							</div>-->
<!--						</div>&lt;!&ndash; home-tab &ndash;&gt;-->

<!--						<div id="yearlyIncome" class="tab-pane fade">-->
<!--							<div class="row">-->
<!--								<div class="col-md-12">-->
<!--									<div class="panel widget">-->
<!--										<div class="panel-body table-responsive">-->
<!--											<table class="table table-hover">-->
<!--												<thead>-->
<!--													<tr>-->
<!--														<th class="text-center">Year</th>-->
<!--														<th class="text-center">Total Net</th>-->
<!--														<th class="text-center">Tax 19%</th>-->
<!--														<th class="text-center">Total Amount</th>-->
<!--														<th class="text-center">Options</th>-->
<!--													</tr>-->
<!--												</thead>-->
<!--												<tbody>-->
<!--													<tr class="text-center">-->
<!--														<td>2017</td>-->
<!--														<td>1.000 €</td>-->
<!--														<td>109 €</td>-->
<!--														<td>1.119 €</td>-->
<!--														<td class="menu-action">-->
<!--															<a data-toggle="modal" data-target="#viewThisUser" class="btn menu-icon vd_bd-green vd_green"><i class="fa fa-eye" data-original-title="View" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a data-toggle="modal" data-target="#blockThisUser" class="btn menu-icon vd_bd-yellow vd_yellow"><i class="fa fa-print" data-original-title="Print" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XML" data-toggle="tooltip" data-placement="top">XML</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download TXT" data-toggle="tooltip" data-placement="top">TXT</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XLS" data-toggle="tooltip" data-placement="top">XLS</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download CSV" data-toggle="tooltip" data-placement="top">CSV</span></a>-->
<!--														</td>-->
<!--													</tr>-->
<!--													<tr class="text-center">-->
<!--														<td>2017</td>-->
<!--														<td>1.000 €</td>-->
<!--														<td>109 €</td>-->
<!--														<td>1.119 €</td>-->
<!--														<td class="menu-action">-->
<!--															<a data-toggle="modal" data-target="#viewThisUser" class="btn menu-icon vd_bd-green vd_green"><i class="fa fa-eye" data-original-title="View" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a data-toggle="modal" data-target="#blockThisUser" class="btn menu-icon vd_bd-yellow vd_yellow"><i class="fa fa-print" data-original-title="Print" data-toggle="tooltip" data-placement="top" ></i></a>-->
<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XML" data-toggle="tooltip" data-placement="top">XML</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download TXT" data-toggle="tooltip" data-placement="top">TXT</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download XLS" data-toggle="tooltip" data-placement="top">XLS</span></a>-->

<!--															<a href="javascript:void(0);"><span class="label label-default vd_bg-blue" data-original-title="download CSV" data-toggle="tooltip" data-placement="top">CSV</span></a>-->
<!--														</td>-->
<!--													</tr>-->
<!--												</tbody>-->
<!--											</table>-->
<!--										</div>-->
<!--									</div>&lt;!&ndash; Panel Widget &ndash;&gt;-->
<!--								</div>&lt;!&ndash; col-md-12 &ndash;&gt;-->
<!--							</div>-->
<!--						</div>&lt;!&ndash; home-tab &ndash;&gt;-->

<!--					</div>&lt;!&ndash; tab-content &ndash;&gt;-->

<!--				</div>&lt;!&ndash; tabs-widget &ndash;&gt;-->
<!--			</div>-->
<!--		</div>&lt;!&ndash; row &ndash;&gt;-->




<!--          </div>-->
<!--          &lt;!&ndash; .vd_content-section &ndash;&gt;-->

<!--        </div>-->
<!--        &lt;!&ndash; .vd_content &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; .vd_container &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; .vd_content-wrapper &ndash;&gt;-->

<!--    &lt;!&ndash; Middle Content End &ndash;&gt;-->

<!--&lt;!&ndash; THE REASON IS &ndash;&gt;-->
<!--<div class="modal fade" id="theReason" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header vd_bg-green">-->
<!--        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--        <h4 class="modal-title vd_white">THE REASON IS</h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form method="post">-->
<!--		  <div class="form-group">-->
<!--		    <h5><i class="fa fa-exclamation-circle vd_red"></i> Incompleted task #3.2</h5>-->
<!--		  </div>-->
<!--		</form>-->
<!--      </div>-->
<!--      <div class="modal-footer vd_bg-white">-->
<!--        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; VIEW THIS USER &ndash;&gt;-->
<!--<div class="modal right fade" id="viewThisUser" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true" style="z-index: 1049;">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header vd_bg-green text-center">-->
<!--        <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">-->
<!--          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>-->
<!--        </button>-->
<!--        <h4 class="modal-title vd_white">PROFILE</h4>-->
<!--      </div>-->
<!--      <div class="modal-body h100">-->
<!--        <div class="row">-->
<!--          <div class="col-md-2">-->
<!--            <div class="widget panel-bd-top container-fluid">-->

<!--              <h4 class="mrgn5-0">Company Name</h4>-->

<!--              <hr class="mrgn0">-->

<!--              <img src="img/avatar/customer175.png" alt="" class="mrgn5-0">-->

<!--              <div class="row">-->
<!--                <div class="col-xs-4 vd_yellow">-->
<!--                  <i class="fa fa-star-half-o fs2"></i>-->
<!--                </div>-->
<!--                <div class="col-xs-8 vd_yellow">-->
<!--                  <i class="fa fa-star"></i>-->
<!--                  <i class="fa fa-star"></i>-->
<!--                  <i class="fa fa-star"></i>-->
<!--                  <i class="fa fa-star"></i>-->
<!--                  <i class="fa fa-star-half-o"></i>-->
<!--                </div>-->
<!--              </div>-->

<!--              <hr class="row mrgntb5">-->

<!--              <div class="row">-->
<!--              <div class="col-md-12">-->
<!--                <div class="menu-text"> <span class="menu-icon"><i class=" fa fa-wrench vd_green"></i></span> 98% Job Success-->
<!--                  <div class="menu-info">-->
<!--                    <div class="progress progress-sm mrgn0">-->
<!--                      <div style="width:98%" class="progress-bar progress-bar-success">98%</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              </div>-->

<!--              <hr class="row mrgntb5">-->

<!--              <div class="row">-->
<!--              <div class="col-md-12">-->
<!--                <i class="fa fa-clock-o vd_green"></i> 15 Hourly Jobs-->
<!--              </div>-->
<!--              </div>-->

<!--              <hr class="row mrgntb5">-->

<!--              <div class="row">-->
<!--              <div class="col-md-12">-->
<!--                <i class="fa fa-suitcase vd_green"></i> 15 Contracts-->
<!--              </div>-->
<!--              </div>-->

<!--              <hr class="row mrgntb5">-->

<!--              <div class="row">-->
<!--              <div class="col-md-12">-->
<!--                <i class="fa fa-gavel vd_green"></i> 15 Current Jobs-->
<!--              </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-10">-->

<!--	    <div class="tabs widget">-->

<!--                  <ul class="nav nav-tabs widget">-->
<!--                    <li class="active">-->
<!--		      <a data-toggle="tab" href="#profileTab"> Profile <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#currentProjectsTab"> Current Projects <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#canceledProjectsTab"> Canceld Projects <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#currentContractTab"> Current Contract <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#jobsDoneTab"> Jobs Done <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#escrowTab"> Escrow <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#reviewsTab"> Reviews <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#reportsTab"> Reports <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                    <li>-->
<!--		      <a data-toggle="tab" href="#settingsTab"> Settings <span class="menu-active"><i class="fa fa-caret-up"></i></span></a>-->
<!--		    </li>-->
<!--                  </ul>-->
<!--                  <div class="tab-content">-->

<!--		    <div id="profileTab" class="tab-pane active">-->
<!--		      <div class="pd-20">-->
<!--				<div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Edit </a> </div>-->
<!--                <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">First Name:</label>-->
<!--                      <div class="col-xs-7 controls">Mariah</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Last Name:</label>-->
<!--                      <div class="col-xs-7 controls">Caraiban</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">User Name:</label>-->
<!--                      <div class="col-xs-7 controls">Mariah</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Email:</label>-->
<!--                      <div class="col-xs-7 controls">mariah@Vendroid.com</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">City:</label>-->
<!--                      <div class="col-xs-7 controls">Los Angeles</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Country:</label>-->
<!--                      <div class="col-xs-7 controls">United States</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Birthday:</label>-->
<!--                      <div class="col-xs-7 controls">Jan 22, 1984</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Interests:</label>-->
<!--                      <div class="col-xs-7 controls">Basketball, Web, Design, etc.</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Website:</label>-->
<!--                      <div class="col-xs-7 controls"><a href="http://Vendroid.venmond.com">Vendroid.venmond.com</a></div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <div class="row mgbt-xs-0">-->
<!--                      <label class="col-xs-5 control-label">Phone:</label>-->
<!--                      <div class="col-xs-7 controls">+1-234-5678</div>-->
<!--                      &lt;!&ndash; col-sm-10 &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <hr class="pd-10">-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-7 mgbt-xs-20">-->
<!--                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>-->
<!--                    <div class="content-list content-menu">-->
<!--                      <ul class="list-wrapper">-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Owner</a> at <a href="http://www.venmond.com">Vendroid Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2013 ~ Now</span></span> </span> </li>-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">CEO</a> at <a href="http://www.venmond.com">Mc. Dondon</a> <span class="menu-info"><span class="menu-date"> March 2011 ~ February 2013</span></span> </span> </li>-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Web Designer</a> at <a href="http://www.venmond.com">Web Design Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2010 ~ February 2011</span></span> </span> </li>-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Sales</a> at <a href="http://www.venmond.com">Sales Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2009 ~ February 2010</span></span> </span> </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-5">-->
<!--                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>-->
<!--                    <div class="content-list content-menu">-->
<!--                      <ul class="list-wrapper">-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> Bachelor's degree, E-Commerce/Electronic Commerce at <a href="http://www.venmond.com">UCLA</a> <span class="menu-info"><span class="menu-date"> August 2003 ~ July 2008</span></span> </span> </li>-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">Web Design Education</a> <span class="menu-info"><span class="menu-date"> March 2006 ~ February 2007</span></span> </span> </li>-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">St. Louis High School</a> <span class="menu-info"><span class="menu-date"> August 2000 ~ July 2003 </span></span> </span> </li>-->
<!--                        <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> Student at <a href="http://www.venmond.com">St. Monica Junior High School</a> <span class="menu-info"><span class="menu-date"> August 1998 ~ July 2000</span></span> </span> </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; row &ndash;&gt;-->
<!--                <hr class="pd-10">-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-7">-->
<!--                    <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>-->
<!--                    <div class="">-->
<!--                      <div class="content-list">-->
<!--                        <div data-rel="scroll" class="mCustomScrollbar _mCS_6" style="overflow: hidden;">-->
<!--                            <div class="mCustomScrollBox mCS-light" id="mCSB_6" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;">-->
<!--                                <div class="mCSB_container" style="position: relative; top: 0px;">-->
<!--                                  <ul class="list-wrapper">-->
<!--                                    <li> <span class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></span> <span class="menu-text"> Someone has give you a surprise <span class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></span> </span>  </li>-->
<!--                                    <li> <span class="menu-icon vd_blue"><i class=" fa fa-user"></i></span> <span class="menu-text"> Change your user profile details <span class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></span> </span> </li>-->
<!--                                    <li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span></li>-->
<!--                                    <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span>  </li>-->
<!--                                    <li>  <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span> <span class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span> </li>-->
<!--                                    <li>  <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span>  </li>-->
<!--                                    <li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span> </li>-->
<!--                                    <li>  <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span> <span class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span>  </li>-->
<!--                                  </ul>-->
<!--                                </div> &lt;!&ndash;added&ndash;&gt;-->
<!--                             </div>-->
<!--                            <div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px; height: 352px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 352px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>-->
<!--                        <div class="closing text-center">-->

<!--                        </div>   &lt;!&ndash;added&ndash;&gt;-->
<!--                        </div>   &lt;!&ndash;added&ndash;&gt;-->
<!--        &lt;!&ndash;   checking&ndash;&gt;-->

<!--        &lt;!&ndash;    checking&ndash;&gt;-->
<!--            </div>-->

<!--        </div> &lt;!&ndash;added&ndash;&gt;-->
<!--        </div> &lt;!&ndash;added&ndash;&gt;-->
<!--        </div> &lt;!&ndash;added&ndash;&gt;-->

</template>
