<template>
    <div> 
        <!-- Middle Content Start -->

	<div class="vd_content-wrapper">
		<div class="vd_container">
			
			<div class="vd_content clearfix">
				<div class="vd_head-section clearfix">
					<div class="vd_panel-header">
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a href="pages-custom-product.html">Pages</a></li>
							<li class="active">Sale History</li>
						</ul>
						<div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
							<div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"><i class="fa fa-arrows-h"></i></div>
							<div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"><i class="fa fa-arrows-v"></i></div>
							<div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"><i class="glyphicon glyphicon-fullscreen"></i></div>
						</div>
					</div>
				</div><!-- vd_head-section end -->
				<div class="vd_title-section clearfix">
					<div class="vd_panel-header">
						<h1><i class="append-icon fa fa-fw fa-history"></i> Sale History</h1>
					</div>
				</div><!-- vd_title-section end -->
				<div class="vd_content-section clearfix">
					<div class="dashboardPanels clearfix">
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
					  <a class="panel-body vd_blue pd-5" href="#">
						  <div class="clearfix">
							  <div class="menu-text clearfix">Total</div>
							  <span class="company-value">25</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
					  <a class="panel-body vd_blue pd-5" href="#">
						  <div class="clearfix">
							  <div class="menu-text clearfix">Used</div>
							  <span class="company-value">1</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
					  <a class="panel-body vd_blue pd-5" href="#">
						  <div class="clearfix">
							  <div class="menu-text clearfix">Unused</div>
							  <span class="company-value">10</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
		  <a class="panel-body vd_blue pd-5" href="#">
		    <div class="clearfix">
		      <div class="menu-text clearfix">Gifts</div>										
		      <span class="company-value">2</span>
		    </div>
		  </a>
		</div>
	      </div>	      
            </div>
					<div class="row">
              <div class="col-sm-12 tabs">
							<div class="pd-20">
								<div class="row">
									<div class="col-md-12">
										<div class="panel widget">
											<div class="panel-body table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th>Company Name</th>
															<th>Category</th>
															<th>Service Amount</th>
															<th>Sales €</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">1</a></td>
															<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">The Company Test</a></td>
															<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">Bitcoin</a></td>
															<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">20</a></td>
															<td class="pdng0"><a href="javascript:void(0);" data-toggle="modal" data-target="#saleHistory" class="tableLink">1200 €</a></td>
															
														</tr>
													</tbody>
												</table>
											</div><!-- panel-body end -->
										</div><!-- panel widget end -->
									</div><!-- col-md-12 end -->
								</div><!-- row end -->
							</div><!-- pd-20 end -->           
				
             </div>
            </div> 
            <!-- row -->
          </div><!-- vd_content-section end -->
        </div><!-- vd_content end -->
      </div><!-- vd_container end -->
    </div><!-- vd_content-wrapper end -->
    

    <!-- Middle Content End -->
<!-- MODALS start -->


<!-- SALE HISTORY -->
<div class="modal right fade" id="saleHistory" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true" style="z-index:1042;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green text-center">
		  <button type="button" class="vd_white close" data-dismiss="modal" aria-label="Close" style="float:left;opacity:1;font-size:3rem;">
          <span aria-hidden="true"><i class="fa fa-arrow-circle-right"></i></span>
        </button>
        <h4 class="modal-title vd_white">SALE HISTORY</h4>
      </div>
      <div class="modal-body">
		  <div class="pd-20">
			  <div class="row">
				  <div class="col-md-3">
					  <div class="userAvatar vd_bg-light-grey text-center mrgn30-0">
						  <div class="avatarBackground"><img src="img/avatar/avatarBg.png" alt="" ></div>
						  <div class="logoWrapper vd_bg-light-grey"><img src="img/logos/boinc.png" alt="" class="projectImg inline-block"></div>
						  <h4>BioInc Corp.</h4>
						  <h6>Company ID: 120987465</h6>
						  <div class="row text-center">
							  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalCompanyProfile">View Profile</button>
						  </div>
					</div> <!-- userAvatar end -->
					  <h4>List</h4>
					  <ul class="prMenu">
						<li class="active">
							  <a data-toggle="tab" href="#sh-total"> Total <span class="label label-default pull-right">500</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#sh-used"> Used <span class="label label-default vd_bg-blue vd_white pull-right">20</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#sh-unused"> Unused <span class="label label-default vd_bg-green vd_white pull-right">30</span></a>
						</li>
						<li>
							<a data-toggle="tab" href="#sh-gift"> Gift <span class="label label-default vd_bg-red vd_white pull-right">10</span></a>
						</li>
					</ul><!-- Menu Buttons end -->
				</div><!-- Left Modal Deck end -->
				<div class="col-md-9">
					
				<div class="tab-content no-bd mrgn0 pdng0">
					<div class="tab-pane active fade in" id="sh-total">
					<div class="panel widget">
						<div class="panel-body table-responsive">
							<table class="table discountTable">
								<thead>
									<tr>
										<th>#</th>
										<th>Service ID</th>
										<th>Category</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Sales</th>
										<th>Used</th>
										<th>Unused</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>1232132134</td>
										<td>Beauty</td>
										<td>03-03-2017</td>
										<td>04-04-2017</td>
										<td>1200 €</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						</div><!-- panel-body end -->
					</div><!-- panel widget end -->				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="sh-used">	
					
					<div class="panel widget">
						<div class="panel-body table-responsive">
							<table class="table discountTable">
								<thead>
									<tr>
										<th>#</th>
										<th>Service ID</th>
										<th>Category</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Sales</th>
										<th>Used</th>
										<th>Unused</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>1232132134</td>
										<td>Beauty</td>
										<td>03-03-2017</td>
										<td>04-04-2017</td>
										<td>1200 €</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						</div><!-- panel-body end -->
					</div><!-- panel widget end -->				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="sh-unused">	
					
					<div class="panel widget">
						<div class="panel-body table-responsive">
							<table class="table discountTable">
								<thead>
									<tr>
										<th>#</th>
										<th>Service ID</th>
										<th>Category</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Sales</th>
										<th>Used</th>
										<th>Unused</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>1232132134</td>
										<td>Beauty</td>
										<td>03-03-2017</td>
										<td>04-04-2017</td>
										<td>1200 €</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						</div><!-- panel-body end -->
					</div><!-- panel widget end -->				
				</div><!--  tab-pane end -->
				
				<div class="tab-pane fade" id="sh-gift">
					
					<div class="panel widget">
						<div class="panel-body table-responsive">
							<table class="table discountTable">
								<thead>
									<tr>
										<th>#</th>
										<th>Service ID</th>
										<th>Category</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Sales</th>
										<th>Used</th>
										<th>Unused</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>1232132134</td>
										<td>Beauty</td>
										<td>03-03-2017</td>
										<td>04-04-2017</td>
										<td>1200 €</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						</div><!-- panel-body end -->
					</div><!-- panel widget end -->					
				</div><!--  tab-pane end -->
				
				</div><!--  tab-content end -->
				</div><!-- col-md-9 end -->
			</div><!-- row end -->
		</div><!-- pd-20 end -->
      </div>	  
      <div class="modal-footer vd_bg-white">		  
      </div>
    </div>
  </div>
</div>
	
<!-- MODALS end -->
    </div>
</template>
