<template>
<div>
 <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">
          <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a> </li>
                <li><a href="pages-custom-product.html">Pages</a> </li>
                <li class="active">User Profile Pages</li>
              </ul>
              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
								<div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
									<div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
									<div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

							</div>

            </div>
          </div>
          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1><i class="fa fa-flag-o"></i> New Request</h1>
            </div>
          </div>
          
          <div class="dashboardPanels clearfix">
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
					  <a class="panel-body vd_blue pd-5" href="#">
						  <div class="clearfix">
							  <div class="menu-text clearfix">New <br>Request</div>
							  <span class="company-value">25</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
					  <a class="panel-body vd_blue pd-5" href="#">
						  <div class="clearfix">
							  <div class="menu-text clearfix">Request <br>on Hold</div>
							  <span class="company-value">1</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
					  <a class="panel-body vd_blue pd-5" href="#">
						  <div class="clearfix">
							  <div class="menu-text clearfix">Accepted <br>Request</div>
							  <span class="company-value">10</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  
			  <div class="col-md-3 col-sm-12 text-center company">
				  <div class="vd_status-widget widget dashboardPanel">
		  <a class="panel-body vd_blue pd-5" href="#">
		    <div class="clearfix">
		      <div class="menu-text clearfix">Denied <br>Request</div>										
		      <span class="company-value">2</span>
		    </div>
		  </a>
		</div>
	      </div>	      
            </div>
          
          <div class="vd_content-section clearfix">
            <div class="row">
              <div class="col-sm-12 tabs">
				  
					<div id="category1" class="active tab-pane fade in">
						<div class="tabs widget">
						<ul class="nav nav-tabs widget">
							<li class="active"> <a data-toggle="tab" href="#new-request-tab-c1"> New Request <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
							<li> <a data-toggle="tab" href="#request-hold-tab-c1"> Request On Hold <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
							<li> <a data-toggle="tab" href="#accepted-request-tab-c1"> Accepted Request <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
							<li> <a data-toggle="tab" href="#denied-request-tab-c1"> Denied Request <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
						</ul>
						<div class="tab-content">
						
						<div id="new-request-tab-c1" class="tab-pane active">
							<div class="pd-20">
								<div class="row">
									<div class="col-md-12">
										<div class="panel widget">
											<div class="panel-body table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th>Company Name</th>
															<th>Category</th>
															<th>Request Time</th>
															<th>Phone-No.</th>
															<th>Options</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>The Company Ltd</td>
															<td class="center">Bitcoin</td>
															<td class="center"></td>
															<td class="center">112</td>
															<td class="menu-action">
																<a data-target="#viewAccept" data-toggle="modal" class="btn menu-icon vd_bd-green vd_green"><i data-original-title="view" data-toggle="tooltip" data-placement="top" class="fa fa-eye"></i></a>
																<a data-target="#successAdd" data-toggle="modal"  class="btn menu-icon vd_bd-yellow vd_yellow"><i data-original-title="accept" data-toggle="tooltip" data-placement="top" class="fa fa-check"></i></a>
																<a data-target="#denyRequest" data-toggle="modal" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="denied" data-toggle="tooltip" data-placement="top" class="fa fa-minus-circle"></i></a>
																<a data-target="#holdRequest" data-toggle="modal" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="hold" data-toggle="tooltip" data-placement="top" class="fa fa-pause"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div><!-- panel-body end -->
										</div><!-- panel widget end -->
									</div><!-- col-md-12 end -->
								</div><!-- row end -->
							</div><!-- pd-20 end -->
						</div>
						
		<!-- new-request-tab SECTION 1 END -->
		
						<div id="request-hold-tab-c1" class="tab-pane">
							<div class="pd-20">
								<div class="row">
									<div class="col-md-12">
										<div class="panel widget">
											<div class="panel-body table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th>Company Name</th>
															<th>Category</th>
															<th>Request Time</th>
															<th>Phone-No.</th>
															<th>Options</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>The Company Ltd</td>
															<td class="center">Bitcoin</td>
															<td class="center"></td>
															<td class="center">112</td>
															<td class="menu-action">
																<a data-target="#viewAccept" data-toggle="modal" class="btn menu-icon vd_bd-green vd_green"><i data-original-title="view" data-toggle="tooltip" data-placement="top" class="fa fa-eye"></i></a>
																<a data-target="#successAdd" data-toggle="modal"  class="btn menu-icon vd_bd-yellow vd_yellow"><i data-original-title="accept" data-toggle="tooltip" data-placement="top" class="fa fa-check"></i></a>
																<a data-target="#denyRequest" data-toggle="modal" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="denied" data-toggle="tooltip" data-placement="top" class="fa fa-minus-circle"></i></a>
																<a data-target="#onHold" data-toggle="modal" href="javascript:void(0);"><span class="label label-danger">On Hold</span></a>
																<!--<a data-target="#theReason" data-toggle="modal" href="javascript:void(0);"><span class="label label-default">Reason</span></a>-->
															</td>
														</tr>
													</tbody>
												</table>
											</div><!-- panel-body end -->
										</div><!-- panel widget end -->
									</div><!-- col-md-12 end -->
								</div><!-- row end -->
							</div><!-- pd-20 end -->
						</div>
						
		<!-- request-hold-tab SECTION 1 END -->
		
						<div id="accepted-request-tab-c1" class="tab-pane">
							<div class="pd-20">
								<div class="row">
									<div class="col-md-12">
										<div class="panel widget">
											<div class="panel-body table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th>Company Name</th>
															<th>Category</th>
															<th>Request Time</th>
															<th>Phone-No.</th>
															<th>Options</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>The Company Ltd</td>
															<td class="center">Bitcoin</td>
															<td class="center"></td>
															<td class="center">112</td>
															<td class="menu-action">
																<a data-target="#viewAccept" data-toggle="modal" class="btn menu-icon vd_bd-green vd_green"><i data-original-title="view" data-toggle="tooltip" data-placement="top" class="fa fa-eye"></i></a>
																<a data-target="#onAccept" data-toggle="modal" href="javascript:void(0);"><span class="label label-success">Accepted</span></a>
																<a data-target="#denyRequest" data-toggle="modal" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="denied" data-toggle="tooltip" data-placement="top" class="fa fa-minus-circle"></i></a>
																<a data-target="#holdRequest" data-toggle="modal" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="hold" data-toggle="tooltip" data-placement="top" class="fa fa-pause"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div><!-- panel-body end -->
										</div><!-- panel widget end -->
									</div><!-- col-md-12 end -->
								</div><!-- row end -->
							</div><!-- pd-20 end -->
						</div> 
						
		<!-- accepted-request-tab SECTION 1 END -->
		
						<div id="denied-request-tab-c1" class="tab-pane">
							<div class="pd-20">
								<div class="row">
									<div class="col-md-12">
										<div class="panel widget">
											<div class="panel-body table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th>Company Name</th>
															<th>Category</th>
															<th>Request Time</th>
															<th>Phone-No.</th>
															<th>Options</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>The Company Ltd</td>
															<td class="center">Bitcoin</td>
															<td class="center"></td>
															<td class="center">112</td>
															<td class="menu-action">
																<a data-target="#viewAccept" data-toggle="modal" class="btn menu-icon vd_bd-green vd_green"><i data-original-title="view" data-toggle="tooltip" data-placement="top" class="fa fa-eye"></i></a>
																<a data-target="#successAdd" data-toggle="modal"  class="btn menu-icon vd_bd-yellow vd_yellow"><i data-original-title="accept" data-toggle="tooltip" data-placement="top" class="fa fa-check"></i></a>
																<a data-target="#denied" data-toggle="modal" href="javascript:void(0);"><span class="label label-danger">Denied</span></a>
																<a data-target="#holdRequest" data-toggle="modal" class="btn menu-icon vd_bd-red vd_red"><i data-original-title="hold" data-toggle="tooltip" data-placement="top" class="fa fa-pause"></i></a>
																<!--<a data-target="#theReason" data-toggle="modal" href="javascript:void(0);"><span class="label label-default">Reason</span></a>-->
															</td>
														</tr>
													</tbody>
												</table>
											</div><!-- panel-body end -->
										</div><!-- panel widget end -->
									</div><!-- col-md-12 end -->
								</div><!-- row end -->
							</div><!-- pd-20 end -->
						</div> 
						
		<!-- denied-request-tab SECTION 1 END -->
					
						</div><!-- tab-content end -->
						</div><!-- tabs widget --> 
				
					</div><!-- #category1 -->                 
				
             </div>
            </div>
            <!-- row -->

          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>

<!-- MODALS START -->

<!-- THE REASON IS -->
<div class="modal fade" id="theReason" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">THE REASON IS</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <h5><i class="fa fa-exclamation-circle vd_red"></i> Incompleted task #3.2</h5>
		  </div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ON HOLD -->
<div class="modal fade" id="onHold" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">ON HOLD</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <h5><i class="fa fa-exclamation-circle vd_blue"></i> While you will receive the confirmation</h5>
		  </div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- DENIED -->
<div class="modal fade" id="denied" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">DENIED</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <h5><i class="fa fa-exclamation-circle vd_red"></i> Incompleted task #3.2</h5>
		  </div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ACCEPTED -->
<div class="modal fade" id="onAccept" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">ACCEPTED</h4>
      </div>
      
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <h5><i class="fa-check-circle fa vd_green"></i> Successfully added</h5>
		  </div>
		</form>
      </div>	 
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- SUCCESSFULLY ADDED -->
<div class="modal fade" id="successAdd" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">SUCCESSFULLY ADDED</h4>
      </div>
      
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
			  <input type="text" placeholder="Username">
		  </div>
		  
		  <div class="form-group">
			  <input type="text" placeholder="Password">
		  </div>
		  
		  <div class="form-group">
			  <input type="text" placeholder="Re-enter Password">
		  </div>
		  <button type="submit" class="btn btn-primary">ACCEPT</button>
		</form>
      </div>	 
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- VIEW -->
<div class="modal fade" id="viewAccept" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:100%;">
    <div class="modal-content" style="max-width:100%;">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">VIEW REQUEST</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
				<div class="row" id="top_row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<table class="table">
							<tr>
								<td width="25%">
									<h4>Request ID</h4>
								</td>
								<td width="1%">
									<h4>:</h4>
								</td>
								<td>
									<h4>AG-20000</h4>
								</td>
							</tr>
							<tr>
								<td width="25%">
									<h4>Date</h4>
								</td>
								<td width="1%">
									<h4>:</h4>
								</td>
								<td>
									<h4>19.10.2012</h4>
								</td>
							</tr>
							<tr>
								<td width="25%">
									<h4>Time</h4>
								</td>
								<td width="1%">
									<h4>:</h4>
								</td>
								<td>
									<h4>18:36:30</h4>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<table class="table">
							<tr>
								<td width="35%">
									<h4>Company Name</h4>
								</td>
								<td width="1%">
									<h4>:</h4>
								</td>
								<td>
									<h4>SmartSystems</h4>
								</td>
							</tr>
							<tr>
								<td width="25%">
									<h4>Name</h4>
								</td>
								<td width="1%">
									<h4>:</h4>
								</td>
								<td>
									<h4>Rohan Sulaiman</h4>
								</td>
							</tr>
							<tr>
								<td width="25%">
									<h4>Phone</h4>
								</td>
								<td width="1%">
									<h4>:</h4>
								</td>
								<td>
									<h4>+49 178 815 0240</h4>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!-- End First Row -->
				
				<div class="row" id="services_section">
					<hr />
					<h4 class="text-center">Attachments</h4>
					<hr />
				
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<img src="../../assets/img/purple_pic.jpg" class="img-responsive" id="image_1">
								<p class="text-center">Attachment</p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<img src="../../assets/img/purple_pic.jpg" class="img-responsive" id="image_2">
								<p class="text-center">Attachment</p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<img src="../../assets/img/purple_pic.jpg" class="img-responsive" id="image_3">
								<p class="text-center">Attachment</p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<img src="../../assets/img/purple_pic.jpg" class="img-responsive" id="image_4">
								<p class="text-center">Attachment</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Modals for images -->
				<!-- The Modal -->
				<div id="myModal" class="modal custom-modal">
					<span class="close" id="close-image-modal">&times;</span>
					<div class="modal-overlay"></div>
					<img class="modal-content" id="img01">
					<img class="modal-content" id="img02">
					<img class="modal-content" id="img03">
					<img class="modal-content" id="img04">
					<div id="caption"></div>
				</div>
				
				<!-- END MODALS FOR IMAGES -->
				
				<div class="row" id="about_section">
					<hr />
					<h4 class="text-center">About the Company</h4>
				
					<div class="col-md-12">
						<div class="row" style="border-bottom: 1px solid #eee;">
							<div class="col-md-6 col-sm-6 col-xs-12 about_section_first_half">
								<p class="text-center">About the Company</p>
								<hr>
								<div class="row">
									<div class="col-md-12 about_info">
										<table class="table">
											<tr>
												<td width="20%">
													<h4>Company Name</h4>
												</td>
												<td width="1%">
													<h4>:</h4>
												</td>
												<td width="50%">
													<h4>AG-Analog</h4>
												</td>
											</tr>
											<tr>
												<td width="20%">
													<h4>Company Type</h4>
												</td>
												<td width="1%">
													<h4>:</h4>
												</td>
												<td width="50%">
													<h4>Type A</h4>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 about_section_second_half">
								<p class="text-center">Owner Info</p>
								<hr>
								<div class="row">
									<div class="col-md-12 about_info">
										<table class="table">
											<tr>
												<td width="20%">
													<h4>Owner Name</h4>
												</td>
												<td width="1%">
													<h4>:</h4>
												</td>
												<td width="50%">
													<h4>John Doe</h4>
												</td>
											</tr>
											<tr>
												<td width="20%">
													<h4>City</h4>
												</td>
												<td width="1%">
													<h4>:</h4>
												</td>
												<td width="50%">
													<h4>Melbourne</h4>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" id="category_section">
					<hr />
					<h4 class="text-center">Categories</h4>
					<hr />
				
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6 text-center" style="border: 1px solid #eee;">
								<h5>Category Name</h5>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-6" style="border: 1px solid #eee;">
								<h6>Subcategory- Subcategory</h6>
							</div>
						</div>
				
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6 text-center">
								<h5>Category Name</h5>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-6">
								<h6>Subcategory- Subcategory</h6>
							</div>
						</div>
				
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6 text-center">
								<h5>Category Name</h5>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-6">
								<h6>Subcategory- Subcategory</h6>
							</div>
						</div>
				
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6 text-center">
								<h5>Category Name</h5>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-6">
								<h6>Subcategory- Subcategory</h6>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" id="order_detail_section">
					<hr />
					<h4 class="text-center">Order Transfer</h4>
					<hr />
				
					<div class="col-md-4"></div>
					<div class="col-md-4" id="middle_div">
						<h4>UMTS Printer</h4>
					</div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="row" id="personal_detail_section">
					<div class="col-md-2"></div>
					<div class="col-md-4 middle_divs">
						<a href="#">
							<h4>info@gmail.com</h4>
						</a>
					</div>
					<div class="col-md-4 middle_divs">
						<h4>+49 511 1234567890</h4>
					</div>
					<div class="col-md-2"></div>
				</div>
		  </div>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- DENY THIS REQUEST -->
<div class="modal fade" id="denyRequest" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">DENY THIS REQUEST</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <select class="custom-select">
				<option selected>Select the deny reason</option>
				<option value="1">Because of</option>
				<option value="2">Because of</option>
		    </select>
		  </div>
		  <div class="form-group">
			  <input type="text" placeholder="text">
		  </div>
		  <button type="submit" class="btn btn-primary">OK</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- HOLD THIS REQUEST -->
<div class="modal fade" id="holdRequest" tabindex="-1" role="dialog" aria-labelledby="Add maincategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header vd_bg-green">
        <button type="button" class="close vd_white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title vd_white">HOLD THIS REQUEST</h4>
      </div>
      <div class="modal-body">
        <form method="post">
		  <div class="form-group">
		    <select class="custom-select">
				<option selected>Select the hold reason</option>
				<option value="1">Because of</option>
				<option value="2">Because of</option>
		    </select>
		  </div>
		  <div class="form-group">
			  <input type="text" placeholder="text">
		  </div>
		  <button type="submit" class="btn btn-primary">OK</button>
		</form>
      </div>	  
      <div class="modal-footer vd_bg-white">		  
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
</template>
<style>

</style>




