<template>
	<div class="vd_navbar vd_nav-width vd_navbar-chat vd_bg-black-80 vd_navbar-right scrolled-comments">
		<div class="navbar-tabs-menu clearfix">
			<span class="expand-menu" data-action="expand-navbar-tabs-menu">
				<span class="menu-icon menu-icon-left">
					<i class="fa fa-ellipsis-h"></i><span class="badge vd_bg-red">20</span>
				</span>
				<span class="menu-icon menu-icon-right">
					<i class="fa fa-ellipsis-h"></i><span class="badge vd_bg-red">20</span>
				</span>
			</span>
			<div class="menu-container">
				<div class="navbar-search-wrapper">
					<div class="navbar-search vd_bg-black-30">
						<span class="append-icon"><i class="fa fa-search"></i></span>
						<input type="text" placeholder="Search" class="vd_menu-search-text no-bg no-bd vd_white width-70" name="search">
						<div class="pull-right search-config">
							<a  data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle" ><span class="prepend-icon vd_grey"><i class="fa fa-cog"></i></span></a>
							<ul role="menu" class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</div><!-- navbar-search end -->
				</div><!-- navbar-search-wrapper end -->
			</div><!-- menu-container end -->
		</div><!-- navbar-tabs-menu end -->
		
		<div class="navbar-menu clearfix">
			<div class="content-list content-image content-chat">
				<ul class="list-wrapper no-bd-btm pd-lr-10">
					<li class="group-heading vd_bg-black-20">FAVORITE</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="img/avatar/avatar.jpg" alt="example image"></div>
							<div class="menu-text">Jessylin
								<div class="menu-info"><span class="menu-date">Administrator</span></div>
							</div>
							<div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="../../assets/img/avatar/avatar-2.jpg" alt="example image"></div>
							<div class="menu-text">Rodney Mc.Cardo
								<div class="menu-info"><span class="menu-date">Designer</span></div>
							</div>
							<div class="menu-badge"><span class="badge status vd_bg-grey">&nbsp;</span></div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="../../assets/img/avatar/avatar-3.jpg" alt="example image"></div>
							<div class="menu-text">Theresia Minoque
								<div class="menu-info"><span class="menu-date">Engineering</span></div>
							</div>
							<div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
						</a>
					</li>
					<li class="group-heading vd_bg-black-20">FRIENDS</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="../../assets/img/avatar/avatar-4.jpg" alt="example image"></div>
							<div class="menu-text">Greg Grog
								<div class="menu-info"><span class="menu-date">Developer</span></div>
							</div>
							<div class="menu-badge"><span class="badge status vd_bg-grey">&nbsp;</span></div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="../../assets/img/avatar/avatar-5.jpg" alt="example image"></div>
							<div class="menu-text">Stefanie Imburgh
								<div class="menu-info"><span class="menu-date">Dancer</span></div>
							</div>
							<div class="menu-badge"><span class="vd_grey font-sm"><i class="fa fa-mobile"></i></span></div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="img/avatar/avatar-6.jpg" alt="example image"></div>
							<div class="menu-text">Matt Demon
								<div class="menu-info"><span class="menu-date">Musician</span></div>
							</div>
							<div class="menu-badge"><span class="vd_grey font-sm"><i class="fa fa-mobile"></i></span></div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="img/avatar/avatar-7.jpg" alt="example image"></div>
							<div class="menu-text">Jeniffer Anastasia
								<div class="menu-info"><span class="menu-date">Senior Developer</span></div>
							</div>
							<div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu-icon"><img src="img/avatar/avatar-8.jpg" alt="example image"></div>
							<div class="menu-text">Daniel Dreamon
								<div class="menu-info"><span class="menu-date">Sales Executive</span></div>
							</div>
							<div class="menu-badge"><span class="badge status vd_bg-green">&nbsp;</span></div>
						</a>
					</li>
				</ul>
			</div><!-- content-list end -->
		</div><!-- navbar-menu end -->
		<div class="navbar-spacing clearfix"></div>
	</div><!-- vd_navbar-right end -->
 
</template>

<script>
export default {
  name: 'RightMenu',
}
</script>


