<template>
  <div >
    <div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left ">
		<!-- menu-container end -->
      <DBTopButtons />
      <div class="navbar-menu clearfix">
			  <h3 class="menu-title hide-nav-medium hide-nav-small">Sidebar Header</h3>
            <DBPageButton />    
      </div>  
      <div class="navbar-spacing clearfix"></div>
		<div class="vd_menu vd_navbar-bottom-widget">
			<ul>
				<li>
					<a href="login.html">
						<span class="menu-icon"><i class="fa fa-sign-out"></i></span>
						<span class="menu-text">Logout</span>
					</a>
				</li>
			</ul>
		</div>
    </div>
  </div>
</template>

<script>
import DBPageButton from '../../components/dbPageButton/index.vue'
import DBTopButtons from '../../components/dbTopButtons/index.vue'

export default {
  name: 'DBComponent',
  components: {
    DBPageButton,
    DBTopButtons
  }
}
</script>

