<template>
 <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">
          <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a> </li>
                <li class="active">Default Dashboard</li>
              </ul>
              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
      <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
      <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

            </div>
          </div>
          <!-- vd_head-section -->

          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
              <div class="vd_panel-menu  hidden-xs">
  <div class="menu no-bg vd_red" data-original-title="Start Layout Tour Guide" data-toggle="tooltip" data-placement="bottom" onClick="javascript:introJs().setOption('showBullets', false).start();"> <span class="menu-icon font-md"><i class="fa fa-question-circle"></i></span> </div>
  <!-- menu -->

  <div class="menu">
    <div data-action="click-trigger"> <span class="menu-icon mgr-10"><i class="fa fa-filter"></i></span>Filter <i class="fa fa-angle-down"></i> </div>
    <div class="vd_mega-menu-content width-xs-2 left-xs" data-action="click-target">
      <div class="child-menu">
        <div class="content-list content-menu">
          <ul class="list-wrapper pd-lr-10">
            <li> <a href="#"> <div class="menu-icon"><i class=" fa fa-user"></i></div> <div class="menu-text">Filter User</div> </a> </li>
            <li> <a href="#"> <div class="menu-icon"><i class=" fa fa-calendar"></i></div> <div class="menu-text">Filter Date</div> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- menu -->
</div>
<!-- vd_panel-menu -->
            </div>
            <!-- vd_panel-header -->
          </div>
          <!-- vd_title-section -->

          <div class="vd_content-section clearfix">
			  			  
								<div class="row dashboardPanels">
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="row">
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-new"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New Projects</div>
													</a>
												</div>
											</div>
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-vcard"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New Contact</div>
													</a>
												</div>
											</div>
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-flag"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">Projects Done</div>
													</a>
												</div>
											</div>
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-user-add"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New User</div>
													</a>
												</div>
											</div>
											
										</div>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="row">
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-megaphone"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New Request</div>
													</a>
												</div>
											</div>
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-rocket"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New Purchase Service</div>
													</a>
												</div>
											</div>
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-trophy"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New Estimate</div>
													</a>
												</div>
											</div>
											
											<div class="col-md-3 col-sm-12 col-xs-12">
												<div class="vd_status-widget widget dashboardPanel">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body vd_blue pd-5" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-directions"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">New Sightseeing</div>
													</a>
												</div>
											</div>
										
										</div>
									</div>
									
								</div>
								
								<div class="row">
									
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-blue widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="fa fa-dollar"></i></span>
															<span class="menu-value">1 256.65</span>
														</div>
														<div class="menu-text clearfix">Milestone Payment</div>
													</a>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-yellow widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="fa fa-dollar"></i></span>
															<span class="menu-value">1 200.00</span>
														</div>
														<div class="menu-text clearfix">Approved Payment</div>
													</a>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-red widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="fa fa-trophy"></i></span>
														</div>
														<div class="menu-text clearfix">Request for Refund</div>
													</a>
												</div>
											</div>
										</div>
									</div>
								
								</div>
								
								<div class="row">
									<div class="col-md-7 mgbt-md-20 mgbt-lg-0">
										<div class="panel vd_interactive-widget light-widget widget">
											
											<div class="panel-body-list">
												<div class="vd_panel-menu">
													<div data-action="refresh" class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh"><i class="icon-cycle"></i></div>
													<div class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Config">
														<div data-action="click-trigger" class="menu-trigger"><i class="icon-cog"></i></div>
														<div class="vd_mega-menu-content  width-xs-2  left-xs" data-action="click-target">
															<div class="child-menu">
																<div class="content-list content-menu">
																	<ul class="list-wrapper pd-lr-10">
																		<li>
																			<a href="#">
																				<div class="menu-icon"><i class=" fa fa-user"></i></div>
																				<div class="menu-text">Panel Menu</div>
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="menu entypo-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Close" data-action="close"><i class="icon-cross"></i></div>
												</div>
											
												<div class="pd-20">
													<h5 class="mgbt-xs-20 mgtp-20"><span class="menu-icon append-icon"><i class="icon-graph"></i></span> <strong>Revenue Vs Cost Graph</strong> (November) </h5>
													<div id="revenue-line-chart" style="height:255px; "></div>
												</div>
											
												<div class="row mgbt-xs-0">
													<div class="col-sm-4 mgbt-xs-15 mgbt-sm-0">
														<div class="item-left pd-15">
															<div id="revenue-donut-chart" style="height:100px;"></div>
														</div>
													</div>
													<div class="col-sm-8">
														<div class="item-right pd-15">
															<div id="revenue-bar-chart" style="height: 100px;" > </div>
														</div>
													</div>
												</div>
												
											</div>
										</div>
									</div>
									
									<div class="col-md-5">
										
										<div class="row">                
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-green widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-suitcase"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">Total Jobs</div>
													</a>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-green widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="icon-suitcase"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">Total Contracts</div>
													</a>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-green widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="fa fa-users"></i></span>
															<span class="menu-value">12</span>
														</div>
														<div class="menu-text clearfix">User Total</div>
													</a>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="vd_status-widget vd_bg-green widget">
													<div class="vd_panel-menu">
														<div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"><i class="icon-cycle"></i></div>
													</div>
													<a class="panel-body" href="#">
														<div class="clearfix">
															<span class="menu-icon"><i class="fa fa-dollar"></i></span>
															<span class="menu-value">1 200.22</span>
														</div>
														<div class="menu-text clearfix">Commision Total this Month</div>
													</a>
												</div>
											</div>
										</div>
										
									</div>
								</div>

          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
</template>

<script>
export default {
  name: 'Main',
}
</script>


