<template>
 <header class="header-1" id="header">
		<div class="vd_top-menu-wrapper">
			<div class="container ">
				<div class="vd_top-nav vd_nav-width">
					<div class="vd_panel-header">
						<div class="logo">
							<a href="index.html"><img alt="logo" src="../../assets/img/logo.png"></a>
						</div>
						<div class="vd_panel-menu  hidden-sm hidden-xs" data-intro="<strong>Minimize Left Navigation</strong><br/>Toggle navigation size to medium or small size. You can set both button or one button only. See full option at documentation." data-step=1>
							<span class="nav-medium-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Medium Nav Toggle" data-action="nav-left-medium"><i class="fa fa-bars"></i></span>
							<span class="nav-small-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Small Nav Toggle" data-action="nav-left-small"><i class="fa fa-ellipsis-v"></i></span>
						</div>
						<div class="vd_panel-menu left-pos visible-sm visible-xs">
							<span class="menu" data-action="toggle-navbar-left"><i class="fa fa-ellipsis-v"></i></span>
						</div>
						<div class="vd_panel-menu visible-sm visible-xs">
							<span class="menu visible-xs" data-action="submenu"><i class="fa fa-bars"></i></span>
							<span class="menu visible-sm visible-xs" data-action="toggle-navbar-right"><i class="fa fa-comments"></i></span>
						</div>
					</div><!-- vd_panel-header end -->
				</div><!-- vd_top-nav end -->
				<div class="vd_container">
					<div class="row">
						<div class="col-sm-5 col-xs-12">
							<div class="vd_menu-search">
								<form id="search-box" method="post" action="#">
									<input type="text" name="search" class="vd_menu-search-text width-60" placeholder="Search">
									<div class="vd_menu-search-category">
										<span data-action="click-trigger">
											<span class="separator"></span>
											<span class="text">Category</span>
											<span class="icon"><i class="fa fa-caret-down"></i></span>
										</span>
										<div class="vd_mega-menu-content width-xs-2 center-xs-2 right-sm" data-action="click-target">
											<div class="child-menu">
												<div class="content-list content-menu content">
													<ul class="list-wrapper">
														<li>
															<label>
																<input type="checkbox" value="all-files">
																<span>All Files</span>
															</label>
														</li>
														<li>
															<label>
																<input type="checkbox" value="photos">
																<span>Photos</span>
															</label>
														</li>
														<li>
															<label>
																<input type="checkbox" value="illustrations">
																<span>Illustrations</span>
															</label>
														</li>
														<li>
															<label>
																<input type="checkbox" value="video">
																<span>Video</span>
															</label>
														</li>
														<li>
															<label>
																<input type="checkbox" value="audio">
																<span>Audio</span>
															</label>
														</li>
														<li>
															<label>
																<input type="checkbox" value="flash">
																<span>Flash</span>
															</label>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- vd_mega-menu-content end -->
									</div><!-- vd_menu-search-category end -->
									<span class="vd_menu-search-submit"><i class="fa fa-search"></i></span>
								</form>
							</div><!-- vd_menu-search end -->
						</div>
						<div class="col-sm-7 col-xs-12">
							<div class="vd_mega-menu-wrapper">
								<div class="vd_mega-menu pull-right">
									<ul class="mega-ul">
										<li id="top-menu-profile" class="profile mega-li">
											<a href="#" class="mega-link"  data-action="click-trigger">
												<span  class="mega-image"><img src="../../assets/img/avatar/vint_cerf_thumb.jpg" alt="example image" /></span>
												<span class="mega-name">Vint Cerf<i class="fa fa-caret-down fa-fw"></i></span>
											</a>
											<div class="vd_mega-menu-content  width-xs-2  left-xs left-sm" data-action="click-target">
												<div class="child-menu">
													<div class="content-list content-menu">
														<ul class="list-wrapper pd-lr-10">
															<h4 class="vd_navbar vd_bg-grey">Profile</h4>
															<li><a href="profile.html"> <div class="menu-icon"><i class=" fa fa-user"></i></div> <div class="menu-text">My Profile</div></a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<li id="top-menu-settings" class="one-big-icon hidden-xs hidden-sm mega-li" data-intro="<strong>Toggle Right Navigation </strong><br/>On smaller device such as tablet or phone you can click on the middle content to close the right or left navigation." data-step=2 data-position="left">
											<a href="#" class="mega-link"  data-action="toggle-navbar-right">
												<span class="mega-icon"><i class="fa fa-comments"></i></span>
												<span class="badge vd_bg-red">8</span>
											</a>
										</li>
									</ul><!-- mega-ul end -->
								</div><!-- vd_mega-menu end -->
							</div><!-- vd_mega-menu-wrapper end -->
						</div>
					</div><!-- row end -->
				</div><!-- vd_container end -->
			</div><!-- container end -->
		</div><!-- vd_primary-menu-wrapper end -->
	</header>
</template>

<script>
export default {
  name: 'Header',
}
</script>


